.css_tef_id__label { }
.css_tef_id__line {text-align:left;}
.css_tef_id__obj {text-align:left;}
.css_tef_filial__label { }
.css_tef_filial__line {text-align:left;}
.css_tef_filial__obj {text-align:left;}
.css_tef_numero__label { }
.css_tef_numero__line { }
.css_tef_numero__obj { }
.css_tef_tipo__label { }
.css_tef_tipo__line { }
.css_tef_tipo__obj { }
