.css_dr_cod_doc_sustento_label { }
.css_dr_cod_doc_sustento_line { }
.css_dr_cod_doc_sustento_obj {width:200px;}
.css_dr_empresa_label { }
.css_dr_empresa_line { }
.css_dr_empresa_obj { }
.css_dr_fecha_emision_doc_sustento_label { }
.css_dr_fecha_emision_doc_sustento_line { }
.css_dr_fecha_emision_doc_sustento_obj { }
.css_dr_id_label { }
.css_dr_id_line {text-align:left;}
.css_dr_id_obj {text-align:left;}
.css_dr_retencion_label { }
.css_dr_retencion_line {text-align:left;}
.css_dr_retencion_obj {text-align:left;}
.css_dr_secuencia_doc_sustento_label { }
.css_dr_secuencia_doc_sustento_line {text-align:left;}
.css_dr_secuencia_doc_sustento_obj {text-align:left;}
.css_dr_serie_doc_sustento_label { }
.css_dr_serie_doc_sustento_line { }
.css_dr_serie_doc_sustento_obj { }
.css_dr_fecha_caducidad_label { }
.css_dr_fecha_caducidad_line { }
.css_dr_fecha_caducidad_obj { }
.css_retenciones_label { }
.css_retenciones_line { }
.css_retenciones_obj { }
