.css_nc_numero_label, .css_nc_numero_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_numero_grid_line, .css_nc_numero_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_fecha_label, .css_nc_fecha_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nc_fecha_grid_line, .css_nc_fecha_grid_line:hover {vertical-align: middle;text-align: right;}
.css_est_codigo_label, .css_est_codigo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_codigo_grid_line, .css_est_codigo_grid_line:hover {vertical-align: middle;text-align: right;}
.css_pen_serie_label, .css_pen_serie_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pen_serie_grid_line, .css_pen_serie_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_secuencial_label, .css_nc_secuencial_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nc_secuencial_grid_line, .css_nc_secuencial_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_nombre_label, .css_cl_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_nombre_grid_line, .css_cl_nombre_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_identificacion_label, .css_cl_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_identificacion_grid_line, .css_cl_identificacion_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_secuencial_docmod_label, .css_nc_secuencial_docmod_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nc_secuencial_docmod_grid_line, .css_nc_secuencial_docmod_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_subtotal_label, .css_nc_subtotal_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_subtotal_grid_line, .css_nc_subtotal_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_subtotal_tot_ger, .css_nc_subtotal_tot_ger:hover {text-align: ;text-align: right;}
.css_nc_total_descuento_label, .css_nc_total_descuento_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_total_descuento_grid_line, .css_nc_total_descuento_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_total_descuento_tot_ger, .css_nc_total_descuento_tot_ger:hover {text-align: ;text-align: right;}
.css_nc_valor_iva_label, .css_nc_valor_iva_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_valor_iva_grid_line, .css_nc_valor_iva_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_valor_iva_tot_ger, .css_nc_valor_iva_tot_ger:hover {text-align: ;text-align: right;}
.css_nc_total_label, .css_nc_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_total_grid_line, .css_nc_total_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_total_tot_ger, .css_nc_total_tot_ger:hover {text-align: ;text-align: right;}
.css_cl_direccion_label, .css_cl_direccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_direccion_grid_line, .css_cl_direccion_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_telefono_label, .css_cl_telefono_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_telefono_grid_line, .css_cl_telefono_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_email_label, .css_cl_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_email_grid_line, .css_cl_email_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_subtotal_iva_label, .css_nc_subtotal_iva_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_subtotal_iva_grid_line, .css_nc_subtotal_iva_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_subtotal_iva_tot_ger, .css_nc_subtotal_iva_tot_ger:hover {text-align: ;text-align: right;}
.css_nc_subtotal_cero_label, .css_nc_subtotal_cero_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_subtotal_cero_grid_line, .css_nc_subtotal_cero_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_subtotal_cero_tot_ger, .css_nc_subtotal_cero_tot_ger:hover {text-align: ;text-align: right;}
.css_nc_subtotal_no_objeto_label, .css_nc_subtotal_no_objeto_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_subtotal_no_objeto_grid_line, .css_nc_subtotal_no_objeto_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_subtotal_no_objeto_tot_ger, .css_nc_subtotal_no_objeto_tot_ger:hover {text-align: ;text-align: right;}
.css_nc_subtotal_excento_label, .css_nc_subtotal_excento_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_subtotal_excento_grid_line, .css_nc_subtotal_excento_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_subtotal_excento_tot_ger, .css_nc_subtotal_excento_tot_ger:hover {text-align: ;text-align: right;}
.css_nc_valor_ice_label, .css_nc_valor_ice_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_valor_ice_grid_line, .css_nc_valor_ice_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_valor_ice_tot_ger, .css_nc_valor_ice_tot_ger:hover {text-align: ;text-align: right;}
.css_nc_valor_irbpnr_label, .css_nc_valor_irbpnr_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_valor_irbpnr_grid_line, .css_nc_valor_irbpnr_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_valor_irbpnr_tot_ger, .css_nc_valor_irbpnr_tot_ger:hover {text-align: ;text-align: right;}
.css_nc_motivo_label, .css_nc_motivo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nc_motivo_grid_line, .css_nc_motivo_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_subtotal_S_sub_tot, .css_nc_subtotal_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_subtotal_S_tot_ger, .css_nc_subtotal_S_tot_ger:hover {text-align: right;}
.css_nc_total_descuento_S_sub_tot, .css_nc_total_descuento_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_total_descuento_S_tot_ger, .css_nc_total_descuento_S_tot_ger:hover {text-align: right;}
.css_nc_valor_iva_S_sub_tot, .css_nc_valor_iva_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_valor_iva_S_tot_ger, .css_nc_valor_iva_S_tot_ger:hover {text-align: right;}
.css_nc_total_S_sub_tot, .css_nc_total_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_total_S_tot_ger, .css_nc_total_S_tot_ger:hover {text-align: right;}
.css_nc_subtotal_iva_S_sub_tot, .css_nc_subtotal_iva_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_subtotal_iva_S_tot_ger, .css_nc_subtotal_iva_S_tot_ger:hover {text-align: right;}
.css_nc_subtotal_cero_S_sub_tot, .css_nc_subtotal_cero_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_subtotal_cero_S_tot_ger, .css_nc_subtotal_cero_S_tot_ger:hover {text-align: right;}
.css_nc_subtotal_no_objeto_S_sub_tot, .css_nc_subtotal_no_objeto_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_subtotal_no_objeto_S_tot_ger, .css_nc_subtotal_no_objeto_S_tot_ger:hover {text-align: right;}
.css_nc_subtotal_excento_S_sub_tot, .css_nc_subtotal_excento_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_subtotal_excento_S_tot_ger, .css_nc_subtotal_excento_S_tot_ger:hover {text-align: right;}
.css_nc_valor_ice_S_sub_tot, .css_nc_valor_ice_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_valor_ice_S_tot_ger, .css_nc_valor_ice_S_tot_ger:hover {text-align: right;}
.css_nc_valor_irbpnr_S_sub_tot, .css_nc_valor_irbpnr_S_sub_tot:hover {text-align: right;text-align: right;}
.css_nc_valor_irbpnr_S_tot_ger, .css_nc_valor_irbpnr_S_tot_ger:hover {text-align: right;}
