.css_cr_id__label { }
.css_cr_id__line {text-align:left;}
.css_cr_id__obj {text-align:left;}
.css_cr_producto__label { }
.css_cr_producto__line { }
.css_cr_producto__obj { }
.css_cr_empresa__label { }
.css_cr_empresa__line { }
.css_cr_empresa__obj { }
.css_cr_anio__label { }
.css_cr_anio__line {text-align:left;}
.css_cr_anio__obj {text-align:left;}
.css_cr_motivo__label { }
.css_cr_motivo__line { }
.css_cr_motivo__obj { }
.css_cr_valor__label {text-align:right;}
.css_cr_valor__line {text-align:right;}
.css_cr_valor__obj {text-align:right;}
.css_cr_producto_aplica__label { }
.css_cr_producto_aplica__line { }
.css_cr_producto_aplica__obj { }
.css_cr_estado__label { }
.css_cr_estado__line { }
.css_cr_estado__obj { }
.css_cr_tipo__label { }
.css_cr_tipo__line { }
.css_cr_tipo__obj { }
.css_cr_mes__label { }
.css_cr_mes__line { }
.css_cr_mes__obj { }
