.css_des_orden_label, .css_des_orden_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_des_orden_grid_line, .css_des_orden_grid_line:hover {vertical-align: middle;text-align: right;}
.css_con_numero_contrato_label, .css_con_numero_contrato_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_con_numero_contrato_grid_line, .css_con_numero_contrato_grid_line:hover {vertical-align: middle;text-align: left;}
.css_con_propietario_label, .css_con_propietario_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_con_propietario_grid_line, .css_con_propietario_grid_line:hover {vertical-align: middle;text-align: left;}
.css_esc_mes_periodo_label, .css_esc_mes_periodo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_mes_periodo_grid_line, .css_esc_mes_periodo_grid_line:hover {vertical-align: middle;text-align: left;}
.css_esc_anio_periodo_label, .css_esc_anio_periodo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_anio_periodo_grid_line, .css_esc_anio_periodo_grid_line:hover {vertical-align: middle;text-align: left;}
.css_con_numero_medidor_label, .css_con_numero_medidor_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_con_numero_medidor_grid_line, .css_con_numero_medidor_grid_line:hover {vertical-align: middle;text-align: left;}
.css_des_lectura_anterior_label, .css_des_lectura_anterior_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_des_lectura_anterior_grid_line, .css_des_lectura_anterior_grid_line:hover {vertical-align: middle;text-align: right;}
.css_des_lectura_actual_label, .css_des_lectura_actual_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_des_lectura_actual_grid_line, .css_des_lectura_actual_grid_line:hover {vertical-align: middle;text-align: right;}
.css_des_consumo_label, .css_des_consumo_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_des_consumo_grid_line, .css_des_consumo_grid_line:hover {vertical-align: middle;text-align: right;}
.css_des_consumo_base_label, .css_des_consumo_base_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_des_consumo_base_grid_line, .css_des_consumo_base_grid_line:hover {vertical-align: middle;text-align: right;}
.css_des_consumo_excedente_label, .css_des_consumo_excedente_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_des_consumo_excedente_grid_line, .css_des_consumo_excedente_grid_line:hover {vertical-align: middle;text-align: right;}
.css_corregir_label, .css_corregir_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_corregir_grid_line, .css_corregir_grid_line:hover {text-align: left;}
.css_esc_id_label, .css_esc_id_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_id_grid_line, .css_esc_id_grid_line:hover {vertical-align: middle;text-align: left;}
.css_esc_empresa_label, .css_esc_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_empresa_grid_line, .css_esc_empresa_grid_line:hover {vertical-align: middle;text-align: left;}
.css_ap_descripcion_label, .css_ap_descripcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ap_descripcion_grid_line, .css_ap_descripcion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_esc_ruta_label, .css_esc_ruta_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_ruta_grid_line, .css_esc_ruta_grid_line:hover {vertical-align: middle;text-align: left;}
