.css_pem_id_label { }
.css_pem_id_line {text-align:left;}
.css_pem_id_obj {text-align:left;}
.css_pem_establecimiento_label { }
.css_pem_establecimiento_line {text-align:left;}
.css_pem_establecimiento_obj {text-align:left;width:300px;}
.css_pen_serie_label { }
.css_pen_serie_line { }
.css_pen_serie_obj { }
.css_pem_estado_label { }
.css_pem_estado_line { }
.css_pem_estado_obj {width:300px;}
.css_pem_nombre_label { }
.css_pem_nombre_line { }
.css_pem_nombre_obj { }
.css_libretines_label { }
.css_libretines_line { }
.css_libretines_obj { }
