.css_cc_id_label { }
.css_cc_id_line { }
.css_cc_id_obj { }
.css_cc_convenio_label { }
.css_cc_convenio_line {text-align:left;}
.css_cc_convenio_obj {text-align:left;}
.css_cc_cuota_label { }
.css_cc_cuota_line {text-align:left;}
.css_cc_cuota_obj {text-align:left;}
.css_cc_fecha_label { }
.css_cc_fecha_line { }
.css_cc_fecha_obj { }
.css_cc_capital_label { }
.css_cc_capital_line {text-align:left;}
.css_cc_capital_obj {text-align:left;}
.css_cc_interes_label { }
.css_cc_interes_line {text-align:left;}
.css_cc_interes_obj {text-align:left;}
.css_cc_cargos_label { }
.css_cc_cargos_line {text-align:left;}
.css_cc_cargos_obj {text-align:left;}
.css_cc_valor_cuota_label { }
.css_cc_valor_cuota_line {text-align:left;}
.css_cc_valor_cuota_obj {text-align:left;}
