.css_tes_id__label { }
.css_tes_id__line {text-align:left;}
.css_tes_id__obj {text-align:left;}
.css_tes_sucursal__label { }
.css_tes_sucursal__line {text-align:left;}
.css_tes_sucursal__obj {text-align:left;}
.css_tes_numero__label { }
.css_tes_numero__line { }
.css_tes_numero__obj { }
.css_tes_tipo__label { }
.css_tes_tipo__line { }
.css_tes_tipo__obj { }
.css_tes_extension__label { }
.css_tes_extension__line { }
.css_tes_extension__obj { }
