.css_coc_digitos_label { }
.css_coc_digitos_line { }
.css_coc_digitos_obj { }
.css_coc_especiales_label { }
.css_coc_especiales_line { }
.css_coc_especiales_obj { }
.css_coc_mayusculas_label { }
.css_coc_mayusculas_line { }
.css_coc_mayusculas_obj { }
.css_coc_minimo_carater_label { }
.css_coc_minimo_carater_line {text-align:left;}
.css_coc_minimo_carater_obj {text-align:left;}
.css_coc_tiempo_validez_label { }
.css_coc_tiempo_validez_line {text-align:left;}
.css_coc_tiempo_validez_obj {text-align:left;}
