.css_rc_id_label { }
.css_rc_id_line {text-align:left;}
.css_rc_id_obj {text-align:left;}
.css_rc_ruta_label { }
.css_rc_ruta_line {text-align:left;}
.css_rc_ruta_obj {text-align:left;}
.css_rc_contrato_label { }
.css_rc_contrato_line {text-align:left;}
.css_rc_contrato_obj {text-align:left;}
.css_rc_orden_label {text-align:;}
.css_rc_orden_line {text-align:left;}
.css_rc_orden_obj {text-align:left;}
.css_rc_registra_danio_label { }
.css_rc_registra_danio_line { }
.css_rc_registra_danio_obj { }
.css_rc_cedula_label { }
.css_rc_cedula_line { }
.css_rc_cedula_obj { }
.css_rc_num_contrato_label { }
.css_rc_num_contrato_line { }
.css_rc_num_contrato_obj { }
.css_rc_num_medidor_label { }
.css_rc_num_medidor_line { }
.css_rc_num_medidor_obj { }
.css_rc_usuario_label { }
.css_rc_usuario_line { }
.css_rc_usuario_obj { }
