.css_rou_usuario__label { }
.css_rou_usuario__line { }
.css_rou_usuario__obj { }
.css_rou_rol__label { }
.css_rou_rol__line {text-align:left;}
.css_rou_rol__obj {text-align:left;width:320px;}
.css_rou_estado__label { }
.css_rou_estado__line { }
.css_rou_estado__obj {width:170px;}
