.css_mm_descripcion__label { }
.css_mm_descripcion__line { }
.css_mm_descripcion__obj {width:200px;}
.css_mm_modulo__label { }
.css_mm_modulo__line {text-align:left;}
.css_mm_modulo__obj {text-align:left;}
.css_submenu__label { }
.css_submenu__line { }
.css_submenu__obj { }
