.css_fac_establecimiento_label { }
.css_fac_establecimiento_line {text-align:left;}
.css_fac_establecimiento_obj {text-align:left;}
.css_fac_punto_emision_label { }
.css_fac_punto_emision_line {text-align:left;}
.css_fac_punto_emision_obj {text-align:left;}
.css_fac_secuencial_label { }
.css_fac_secuencial_line {text-align:left;}
.css_fac_secuencial_obj {text-align:left;}
.css_fac_fecha_label { }
.css_fac_fecha_line { }
.css_fac_fecha_obj { }
.css_fac_serie_guia_label { }
.css_fac_serie_guia_line { }
.css_fac_serie_guia_obj { }
