.css_sbc_id_label { }
.css_sbc_id_line {text-align:left;}
.css_sbc_id_obj {text-align:left;}
.css_sbc_fecha_label { }
.css_sbc_fecha_line { }
.css_sbc_fecha_obj { }
.css_sbc_anio_baja_label { }
.css_sbc_anio_baja_line {text-align:left;}
.css_sbc_anio_baja_obj {text-align:left;}
.css_sbc_usuario_label { }
.css_sbc_usuario_line { }
.css_sbc_usuario_obj { }
.css_sbc_estado_label { }
.css_sbc_estado_line { }
.css_sbc_estado_obj { }
.css_sbc_motivo_anulacion_label { }
.css_sbc_motivo_anulacion_line { }
.css_sbc_motivo_anulacion_obj { }
.css_sbc_empresa_label { }
.css_sbc_empresa_line { }
.css_sbc_empresa_obj { }
.css_operaciones_label { }
.css_operaciones_line { }
.css_operaciones_obj { }
