.css_nc_fecha_label, .css_nc_fecha_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nc_fecha_grid_line, .css_nc_fecha_grid_line:hover {vertical-align: middle;text-align: left;}
.css_nc_secuencial_docmod_label, .css_nc_secuencial_docmod_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_secuencial_docmod_grid_line, .css_nc_secuencial_docmod_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_nombre_label, .css_cl_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_nombre_grid_line, .css_cl_nombre_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_identificacion_label, .css_cl_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_identificacion_grid_line, .css_cl_identificacion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_nc_total_label, .css_nc_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nc_total_grid_line, .css_nc_total_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nc_estado_sri_label, .css_nc_estado_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nc_estado_sri_grid_line, .css_nc_estado_sri_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_direccion_label, .css_cl_direccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_direccion_grid_line, .css_cl_direccion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_nc_autorizacion_label, .css_nc_autorizacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nc_autorizacion_grid_line, .css_nc_autorizacion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_nc_error_sri_label, .css_nc_error_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nc_error_sri_grid_line, .css_nc_error_sri_grid_line:hover {vertical-align: middle;text-align: left;}
