.css_sc_id_label { }
.css_sc_id_line {text-align:left;}
.css_sc_id_obj {text-align:left;}
.css_sc_filial_label { }
.css_sc_filial_line {text-align:left;}
.css_sc_filial_obj {text-align:left;}
.css_sc_oficina_label { }
.css_sc_oficina_line {text-align:left;}
.css_sc_oficina_obj {text-align:left;}
.css_sc_serie_label { }
.css_sc_serie_line { }
.css_sc_serie_obj { }
.css_sc_tipo_label { }
.css_sc_tipo_line { }
.css_sc_tipo_obj { }
.css_sc_inicio_label { }
.css_sc_inicio_line {text-align:left;}
.css_sc_inicio_obj {text-align:left;}
.css_sc_fin_label { }
.css_sc_fin_line {text-align:left;}
.css_sc_fin_obj {text-align:left;}
.css_sc_secuencial_label { }
.css_sc_secuencial_line {text-align:left;}
.css_sc_secuencial_obj {text-align:left;}
.css_sc_estado_label { }
.css_sc_estado_line { }
.css_sc_estado_obj { }
