.css_fac_fecha_label { }
.css_fac_fecha_line { }
.css_fac_fecha_obj {width:150px;}
.css_fac_libretin_label { }
.css_fac_libretin_line { }
.css_fac_libretin_obj {width:170px;}
.css_fac_secuencial_label { }
.css_fac_secuencial_line { }
.css_fac_secuencial_obj {width:150px;}
.css_fac_moneda_label { }
.css_fac_moneda_line { }
.css_fac_moneda_obj {width:170px;}
.css_fac_serie_guia_label { }
.css_fac_serie_guia_line { }
.css_fac_serie_guia_obj {width:150px;}
