.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_dfc_cantidad_sum_label, .css_dfc_cantidad_sum_label:hover {text-align: right; vertical-align: top}
.css_dfc_cantidad_sum_field, .css_dfc_cantidad_sum_field:hover {text-align: right; vertical-align: top}
.css_dfc_subtotal_sum_label, .css_dfc_subtotal_sum_label:hover {text-align: right; vertical-align: top}
.css_dfc_subtotal_sum_field, .css_dfc_subtotal_sum_field:hover {text-align: right; vertical-align: top}
.css_dfc_descuento_sum_label, .css_dfc_descuento_sum_label:hover {text-align: right; vertical-align: top}
.css_dfc_descuento_sum_field, .css_dfc_descuento_sum_field:hover {text-align: right; vertical-align: top}
.css_dfc_valor_ice_sum_label, .css_dfc_valor_ice_sum_label:hover {text-align: right; vertical-align: top}
.css_dfc_valor_ice_sum_field, .css_dfc_valor_ice_sum_field:hover {text-align: right; vertical-align: top}
.css_dfc_valor_iva_sum_label, .css_dfc_valor_iva_sum_label:hover {text-align: right; vertical-align: top}
.css_dfc_valor_iva_sum_field, .css_dfc_valor_iva_sum_field:hover {text-align: right; vertical-align: top}
.css_dfc_valor_irbpnr_sum_label, .css_dfc_valor_irbpnr_sum_label:hover {text-align: right; vertical-align: top}
.css_dfc_valor_irbpnr_sum_field, .css_dfc_valor_irbpnr_sum_field:hover {text-align: right; vertical-align: top}
.css_dfc_total_sum_label, .css_dfc_total_sum_label:hover {text-align: right; vertical-align: top}
.css_dfc_total_sum_field, .css_dfc_total_sum_field:hover {text-align: right; vertical-align: top}
.css_dfc_base_iva_sum_label, .css_dfc_base_iva_sum_label:hover {text-align: right; vertical-align: top}
.css_dfc_base_iva_sum_field, .css_dfc_base_iva_sum_field:hover {text-align: right; vertical-align: top}
