.css_pro_codigo_label, .css_pro_codigo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pro_codigo_grid_line, .css_pro_codigo_grid_line:hover {vertical-align: top;text-align: right;}
.css_pro_descripcion_label, .css_pro_descripcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pro_descripcion_grid_line, .css_pro_descripcion_grid_line:hover {vertical-align: top;text-align: right;}
.css_pro_estado_label, .css_pro_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pro_estado_grid_line, .css_pro_estado_grid_line:hover {vertical-align: top;text-align: right;}
