.css_cxp_documento_label { }
.css_cxp_documento_line { }
.css_cxp_documento_obj { }
.css_cxp_estado_label { }
.css_cxp_estado_line { }
.css_cxp_estado_obj { }
.css_cxp_fecha_label { }
.css_cxp_fecha_line { }
.css_cxp_fecha_obj { }
.css_cxp_tipo_documento_label { }
.css_cxp_tipo_documento_line { }
.css_cxp_tipo_documento_obj { }
.css_cxp_valor_label { }
.css_cxp_valor_line {text-align:left;}
.css_cxp_valor_obj {text-align:left;}
.css_cxp_contrato_label { }
.css_cxp_contrato_line {text-align:left;}
.css_cxp_contrato_obj {text-align:left;}
