.css_deh_horario__label { }
.css_deh_horario__line {text-align:left;}
.css_deh_horario__obj {text-align:left;}
.css_deh_dia__label { }
.css_deh_dia__line {text-align:left;}
.css_deh_dia__obj {text-align:left;}
.css_deh_entrada__label { }
.css_deh_entrada__line { }
.css_deh_entrada__obj { }
.css_deh_salida__label { }
.css_deh_salida__line { }
.css_deh_salida__obj { }
