.css_suc_filial_label { }
.css_suc_filial_line {text-align:left;}
.css_suc_filial_obj {text-align:left;width:200px;}
.css_suc_nombre_label { }
.css_suc_nombre_line { }
.css_suc_nombre_obj {width:200px;}
.css_suc_representante_label { }
.css_suc_representante_line { }
.css_suc_representante_obj {width:200px;}
.css_suc_pais_label { }
.css_suc_pais_line {text-align:left;}
.css_suc_pais_obj {text-align:left;width:200px;}
.css_suc_provincia_label { }
.css_suc_provincia_line {text-align:left;}
.css_suc_provincia_obj {text-align:left;width:200px;}
.css_suc_ciudad_label { }
.css_suc_ciudad_line {text-align:left;}
.css_suc_ciudad_obj {text-align:left;width:200px;}
.css_suc_sector_label { }
.css_suc_sector_line { }
.css_suc_sector_obj {width:200px;}
.css_suc_calle_principal_label { }
.css_suc_calle_principal_line { }
.css_suc_calle_principal_obj {width:200px;}
.css_suc_numero_label { }
.css_suc_numero_line { }
.css_suc_numero_obj {width:200px;}
.css_suc_calle_secundaria_label { }
.css_suc_calle_secundaria_line { }
.css_suc_calle_secundaria_obj {width:200px;}
.css_suc_referencia_label { }
.css_suc_referencia_line { }
.css_suc_referencia_obj {width:200px;}
