.css_ret_fecha_label, .css_ret_fecha_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ret_fecha_grid_line, .css_ret_fecha_grid_line:hover {vertical-align: middle;text-align: right;}
.css_ret_establecimiento_label, .css_ret_establecimiento_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ret_establecimiento_grid_line, .css_ret_establecimiento_grid_line:hover {vertical-align: middle;text-align: right;}
.css_ret_punto_emision_label, .css_ret_punto_emision_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ret_punto_emision_grid_line, .css_ret_punto_emision_grid_line:hover {vertical-align: middle;text-align: right;}
.css_right_label, .css_right_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_right_grid_line, .css_right_grid_line:hover {vertical-align: middle;text-align: right;}
.css_ret_cliente_label, .css_ret_cliente_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ret_cliente_grid_line, .css_ret_cliente_grid_line:hover {vertical-align: middle;text-align: right;}
.css_ret_mes_periodo_fiscal_label, .css_ret_mes_periodo_fiscal_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ret_mes_periodo_fiscal_grid_line, .css_ret_mes_periodo_fiscal_grid_line:hover {vertical-align: middle;text-align: right;}
.css_ret_anio_periodo_fiscal_label, .css_ret_anio_periodo_fiscal_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ret_anio_periodo_fiscal_grid_line, .css_ret_anio_periodo_fiscal_grid_line:hover {vertical-align: middle;text-align: right;}
.css_ret_estado_sri_label, .css_ret_estado_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ret_estado_sri_grid_line, .css_ret_estado_sri_grid_line:hover {vertical-align: middle;text-align: right;}
.css_pdf_label, .css_pdf_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_pdf_grid_line, .css_pdf_grid_line:hover {text-align: center;}
.css_xml_label, .css_xml_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_xml_grid_line, .css_xml_grid_line:hover {text-align: center;}
.css_ret_error_sri_label, .css_ret_error_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ret_error_sri_grid_line, .css_ret_error_sri_grid_line:hover {vertical-align: middle;text-align: right;}
