.css_stg_codigo_label, .css_stg_codigo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_stg_codigo_grid_line, .css_stg_codigo_grid_line:hover {vertical-align: middle;text-align: left;}
.css_stg_descripcion_label, .css_stg_descripcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_stg_descripcion_grid_line, .css_stg_descripcion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_stg_estado_label, .css_stg_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_stg_estado_grid_line, .css_stg_estado_grid_line:hover {vertical-align: middle;text-align: left;}
