.css_ice_codigo__label { }
.css_ice_codigo__line {text-align:left;}
.css_ice_codigo__obj {text-align:left;}
.css_ice_descripcion__label { }
.css_ice_descripcion__line { }
.css_ice_descripcion__obj { }
.css_ice_tarifa_especifica__label { }
.css_ice_tarifa_especifica__line {text-align:left;}
.css_ice_tarifa_especifica__obj {text-align:left;}
.css_ice_tarifa_advaloren__label { }
.css_ice_tarifa_advaloren__line {text-align:left;}
.css_ice_tarifa_advaloren__obj {text-align:left;}
.css_ice_estado__label { }
.css_ice_estado__line { }
.css_ice_estado__obj { }
.css_ice_id__label { }
.css_ice_id__line {text-align:left;}
.css_ice_id__obj {text-align:left;}
