.css_dec_id_label, .css_dec_id_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dec_id_grid_line, .css_dec_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_dec_nombre_label, .css_dec_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dec_nombre_grid_line, .css_dec_nombre_grid_line:hover {vertical-align: top;text-align: right;}
.css_dec_estado_label, .css_dec_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dec_estado_grid_line, .css_dec_estado_grid_line:hover {vertical-align: top;text-align: right;}
