.css_login_label { }
.css_login_line { }
.css_login_obj {width:200px;}
.css_password_label { }
.css_password_line { }
.css_password_obj {width:180px;}
.css_idioma_label { }
.css_idioma_line { }
.css_idioma_obj {width:220px;}
.css_imagen_label { }
.css_imagen_line { }
.css_imagen_obj { }
.css_reset_clave_label { }
.css_reset_clave_line { }
.css_reset_clave_obj { }
.css_vacio_label { }
.css_vacio_line { }
.css_vacio_obj { }
