.css_isr_id__label { }
.css_isr_id__line {text-align:left;}
.css_isr_id__obj {text-align:left;}
.css_isr_doc_sustento__label { }
.css_isr_doc_sustento__line {text-align:left;}
.css_isr_doc_sustento__obj {text-align:left;}
.css_isr_cod_impuesto__label { }
.css_isr_cod_impuesto__line {text-align:left;}
.css_isr_cod_impuesto__obj {text-align:left;}
.css_isr_cod_porcentaje__label { }
.css_isr_cod_porcentaje__line { }
.css_isr_cod_porcentaje__obj { }
.css_isr_base_imponible__label { }
.css_isr_base_imponible__line {text-align:left;}
.css_isr_base_imponible__obj {text-align:left;}
.css_isr_tarifa__label { }
.css_isr_tarifa__line {text-align:left;}
.css_isr_tarifa__obj {text-align:left;}
.css_isr_valor_impuesto__label { }
.css_isr_valor_impuesto__line {text-align:left;}
.css_isr_valor_impuesto__obj {text-align:left;}
