.css_est_id_label { }
.css_est_id_line {text-align:left;}
.css_est_id_obj {text-align:left;}
.css_est_empresa_label { }
.css_est_empresa_line { }
.css_est_empresa_obj { }
.css_est_nombre_label { }
.css_est_nombre_line { }
.css_est_nombre_obj { }
.css_est_codigo_label { }
.css_est_codigo_line { }
.css_est_codigo_obj { }
.css_est_pais_label { }
.css_est_pais_line {text-align:left;}
.css_est_pais_obj {text-align:left;}
.css_est_provincia_label { }
.css_est_provincia_line {text-align:left;}
.css_est_provincia_obj {text-align:left;}
.css_est_canton_label { }
.css_est_canton_line {text-align:left;}
.css_est_canton_obj {text-align:left;}
.css_est_direccion_label { }
.css_est_direccion_line { }
.css_est_direccion_obj { }
.css_est_estado_label { }
.css_est_estado_line { }
.css_est_estado_obj { }
.css_est_logo_label { }
.css_est_logo_line { }
.css_est_logo_obj { }
.css_est_telefono_label { }
.css_est_telefono_line { }
.css_est_telefono_obj { }
.css_est_padronrimpe_label { }
.css_est_padronrimpe_line { }
.css_est_padronrimpe_obj { }
.css_est_iva_diferenciado_label { }
.css_est_iva_diferenciado_line { }
.css_est_iva_diferenciado_obj { }
.css_est_leyenda_rimpe_label { }
.css_est_leyenda_rimpe_line { }
.css_est_leyenda_rimpe_obj { }
