.css_suc_filial_label, .css_suc_filial_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_suc_filial_grid_line, .css_suc_filial_grid_line:hover {vertical-align: top;text-align: right;}
.css_suc_nombre_label, .css_suc_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_suc_nombre_grid_line, .css_suc_nombre_grid_line:hover {vertical-align: top;text-align: right;}
.css_suc_representante_label, .css_suc_representante_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_suc_representante_grid_line, .css_suc_representante_grid_line:hover {vertical-align: top;text-align: right;}
