.css_dr_id_label { }
.css_dr_id_line {text-align:left;}
.css_dr_id_obj {text-align:left;}
.css_dr_retencion_label { }
.css_dr_retencion_line {text-align:left;}
.css_dr_retencion_obj {text-align:left;}
.css_dr_impuesto_label { }
.css_dr_impuesto_line { }
.css_dr_impuesto_obj {width:120px;}
.css_dr_codigo_retencion_label { }
.css_dr_codigo_retencion_line { }
.css_dr_codigo_retencion_obj {width:400px;}
.css_dr_base_imponible_label { }
.css_dr_base_imponible_line {text-align:left;}
.css_dr_base_imponible_obj {text-align:left;width:120px;}
.css_dr_porcentaje_retencion_label { }
.css_dr_porcentaje_retencion_line {text-align:left;}
.css_dr_porcentaje_retencion_obj {text-align:left;width:120px;}
.css_dr_valor_retenido_label { }
.css_dr_valor_retenido_line {text-align:left;}
.css_dr_valor_retenido_obj {text-align:left;width:120px;}
.css_dr_cod_doc_sustento_label { }
.css_dr_cod_doc_sustento_line { }
.css_dr_cod_doc_sustento_obj {width:240px;}
.css_dr_serie_doc_sustento_label { }
.css_dr_serie_doc_sustento_line { }
.css_dr_serie_doc_sustento_obj { }
.css_dr_secuencia_doc_sustento_label { }
.css_dr_secuencia_doc_sustento_line {text-align:left;}
.css_dr_secuencia_doc_sustento_obj {text-align:left;}
.css_dr_fecha_emision_doc_sustento_label { }
.css_dr_fecha_emision_doc_sustento_line { }
.css_dr_fecha_emision_doc_sustento_obj { }
.css_dr_empresa_label { }
.css_dr_empresa_line { }
.css_dr_empresa_obj { }
