.css_ofi_filial_label, .css_ofi_filial_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_filial_grid_line, .css_ofi_filial_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_sucursal_label, .css_ofi_sucursal_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_sucursal_grid_line, .css_ofi_sucursal_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_nombre_label, .css_ofi_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_nombre_grid_line, .css_ofi_nombre_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_representante_label, .css_ofi_representante_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_representante_grid_line, .css_ofi_representante_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_serie_sri_label, .css_ofi_serie_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_serie_sri_grid_line, .css_ofi_serie_sri_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_estado_label, .css_ofi_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_estado_grid_line, .css_ofi_estado_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_id_label, .css_ofi_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ofi_id_grid_line, .css_ofi_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_pais_label, .css_ofi_pais_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ofi_pais_grid_line, .css_ofi_pais_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_provincia_label, .css_ofi_provincia_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ofi_provincia_grid_line, .css_ofi_provincia_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_ciudad_label, .css_ofi_ciudad_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ofi_ciudad_grid_line, .css_ofi_ciudad_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_sector_label, .css_ofi_sector_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_sector_grid_line, .css_ofi_sector_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_calle_principal_label, .css_ofi_calle_principal_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_calle_principal_grid_line, .css_ofi_calle_principal_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_numero_label, .css_ofi_numero_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_numero_grid_line, .css_ofi_numero_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_calle_secundaria_label, .css_ofi_calle_secundaria_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_calle_secundaria_grid_line, .css_ofi_calle_secundaria_grid_line:hover {vertical-align: top;text-align: right;}
.css_ofi_referencia_label, .css_ofi_referencia_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofi_referencia_grid_line, .css_ofi_referencia_grid_line:hover {vertical-align: top;text-align: right;}
