.css_ofi_filial_label { }
.css_ofi_filial_line {text-align:left;}
.css_ofi_filial_obj {text-align:left;width:200px;}
.css_ofi_nombre_label { }
.css_ofi_nombre_line { }
.css_ofi_nombre_obj {width:200px;}
.css_ofi_representante_label { }
.css_ofi_representante_line { }
.css_ofi_representante_obj {width:200px;}
.css_ofi_serie_sri_label { }
.css_ofi_serie_sri_line { }
.css_ofi_serie_sri_obj {width:100px;}
.css_ofi_pais_label { }
.css_ofi_pais_line {text-align:left;}
.css_ofi_pais_obj {text-align:left;width:200px;}
.css_ofi_provincia_label { }
.css_ofi_provincia_line {text-align:left;}
.css_ofi_provincia_obj {text-align:left;width:200px;}
.css_ofi_ciudad_label { }
.css_ofi_ciudad_line {text-align:left;}
.css_ofi_ciudad_obj {text-align:left;width:200px;}
.css_ofi_sector_label { }
.css_ofi_sector_line { }
.css_ofi_sector_obj {width:200px;}
.css_ofi_calle_principal_label { }
.css_ofi_calle_principal_line { }
.css_ofi_calle_principal_obj {width:200px;}
.css_ofi_numero_label { }
.css_ofi_numero_line { }
.css_ofi_numero_obj {width:200px;}
.css_ofi_calle_secundaria_label { }
.css_ofi_calle_secundaria_line { }
.css_ofi_calle_secundaria_obj {width:200px;}
.css_ofi_referencia_label { }
.css_ofi_referencia_line { }
.css_ofi_referencia_obj {width:200px;}
.css_ofi_sucursal_label { }
.css_ofi_sucursal_line {text-align:left;}
.css_ofi_sucursal_obj {text-align:left;width:200px;}
.css_ofi_estado_label { }
.css_ofi_estado_line { }
.css_ofi_estado_obj {width:200px;}
