.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_fp_valor_sum_label, .css_fp_valor_sum_label:hover {text-align: right; vertical-align: top}
.css_fp_valor_sum_field, .css_fp_valor_sum_field:hover {text-align: right; vertical-align: top}
.css_fp_valor_pago_sum_label, .css_fp_valor_pago_sum_label:hover {text-align: right; vertical-align: top}
.css_fp_valor_pago_sum_field, .css_fp_valor_pago_sum_field:hover {text-align: right; vertical-align: top}
.css_fp_saldo_sum_label, .css_fp_saldo_sum_label:hover {text-align: right; vertical-align: top}
.css_fp_saldo_sum_field, .css_fp_saldo_sum_field:hover {text-align: right; vertical-align: top}
