.css_pr_empresa_label { }
.css_pr_empresa_line { }
.css_pr_empresa_obj { }
.css_pr_estado_label { }
.css_pr_estado_line { }
.css_pr_estado_obj { }
.css_pr_fecha_label { }
.css_pr_fecha_line { }
.css_pr_fecha_obj { }
.css_pr_id_label { }
.css_pr_id_line {text-align:left;}
.css_pr_id_obj {text-align:left;}
.css_pr_mes_label { }
.css_pr_mes_line { }
.css_pr_mes_obj {width:300px;}
.css_pr_periodo_label { }
.css_pr_periodo_line {text-align:left;}
.css_pr_periodo_obj {text-align:left;width:300px;}
.css_pr_usuario_label { }
.css_pr_usuario_line { }
.css_pr_usuario_obj { }
.css_operaciones_label { }
.css_operaciones_line { }
.css_operaciones_obj { }
