.css_fp_id__label { }
.css_fp_id__line {text-align:left;}
.css_fp_id__obj {text-align:left;}
.css_fp_factura__label { }
.css_fp_factura__line {text-align:left;}
.css_fp_factura__obj {text-align:left;}
.css_fp_forma_pago__label { }
.css_fp_forma_pago__line { }
.css_fp_forma_pago__obj { }
.css_fp_valor__label { }
.css_fp_valor__line {text-align:left;}
.css_fp_valor__obj {text-align:left;}
.css_fp_plazo__label { }
.css_fp_plazo__line {text-align:left;}
.css_fp_plazo__obj {text-align:left;}
.css_fp_unidad_tiempo__label { }
.css_fp_unidad_tiempo__line {text-align:left;}
.css_fp_unidad_tiempo__obj {text-align:left;}
.css_fp_valor_pago__label { }
.css_fp_valor_pago__line {text-align:left;}
.css_fp_valor_pago__obj {text-align:left;}
.css_fp_saldo__label { }
.css_fp_saldo__line {text-align:left;}
.css_fp_saldo__obj {text-align:left;}
