.css_emp_nombre_label { }
.css_emp_nombre_line { }
.css_emp_nombre_obj {width:320px;}
.css_emp_direccion_label { }
.css_emp_direccion_line { }
.css_emp_direccion_obj {width:320px;}
.css_emp_imagen_menu_label { }
.css_emp_imagen_menu_line { }
.css_emp_imagen_menu_obj { }
.css_emp_firma_label { }
.css_emp_firma_line { }
.css_emp_firma_obj { }
.css_emp_clave_firma_label { }
.css_emp_clave_firma_line { }
.css_emp_clave_firma_obj {width:320px;}
