.css_pr_id_label { }
.css_pr_id_line {text-align:left;}
.css_pr_id_obj {text-align:left;}
.css_pr_empresa_label { }
.css_pr_empresa_line { }
.css_pr_empresa_obj { }
.css_pr_nombre_label { }
.css_pr_nombre_line { }
.css_pr_nombre_obj {width:300px;}
.css_pr_tipo_identificacion_label { }
.css_pr_tipo_identificacion_line { }
.css_pr_tipo_identificacion_obj {width:150px;}
.css_pr_identificacion_label { }
.css_pr_identificacion_line { }
.css_pr_identificacion_obj {width:150px;}
.css_pr_pais_label { }
.css_pr_pais_line {text-align:left;}
.css_pr_pais_obj {text-align:left;width:150px;}
.css_pr_provincia_label { }
.css_pr_provincia_line {text-align:left;}
.css_pr_provincia_obj {text-align:left;width:150px;}
.css_pr_ciudad_label { }
.css_pr_ciudad_line {text-align:left;}
.css_pr_ciudad_obj {text-align:left;width:150px;}
.css_pr_direccion_label { }
.css_pr_direccion_line { }
.css_pr_direccion_obj {width:300px;}
.css_pr_telefono_label { }
.css_pr_telefono_line { }
.css_pr_telefono_obj {width:150px;}
.css_pr_celular_label { }
.css_pr_celular_line { }
.css_pr_celular_obj {width:150px;}
.css_pr_email_label { }
.css_pr_email_line { }
.css_pr_email_obj {width:300px;}
.css_pr_retencion_iva_label { }
.css_pr_retencion_iva_line {text-align:left;}
.css_pr_retencion_iva_obj {text-align:left;}
.css_pr_parte_relacionada_label { }
.css_pr_parte_relacionada_line { }
.css_pr_parte_relacionada_obj { }
.css_pr_tipo_persona_label { }
.css_pr_tipo_persona_line { }
.css_pr_tipo_persona_obj { }
