.css_rc_id__label { }
.css_rc_id__line {text-align:left;}
.css_rc_id__obj {text-align:left;}
.css_rc_ruta__label { }
.css_rc_ruta__line {text-align:left;}
.css_rc_ruta__obj {text-align:left;}
.css_rc_contrato__label { }
.css_rc_contrato__line {text-align:left;}
.css_rc_contrato__obj {text-align:left;}
.css_rc_orden__label {text-align:;}
.css_rc_orden__line {text-align:left;}
.css_rc_orden__obj {text-align:left;}
.css_rc_cedula__label { }
.css_rc_cedula__line { }
.css_rc_cedula__obj { }
.css_rc_num_contrato__label { }
.css_rc_num_contrato__line { }
.css_rc_num_contrato__obj { }
.css_rc_num_medidor__label { }
.css_rc_num_medidor__line { }
.css_rc_num_medidor__obj { }
.css_rc_usuario__label { }
.css_rc_usuario__line { }
.css_rc_usuario__obj { }
