.css_ir_id__label { }
.css_ir_id__line {text-align:left;}
.css_ir_id__obj {text-align:left;}
.css_ir_retencion__label { }
.css_ir_retencion__line {text-align:left;}
.css_ir_retencion__obj {text-align:left;}
.css_dr_impuesto__label { }
.css_dr_impuesto__line {text-align:left;}
.css_dr_impuesto__obj {text-align:left;}
.css_dr_codigo_retencion__label { }
.css_dr_codigo_retencion__line {text-align:left;}
.css_dr_codigo_retencion__obj {text-align:left;width:300px;}
.css_dr_base_imponible__label { }
.css_dr_base_imponible__line {text-align:left;}
.css_dr_base_imponible__obj {text-align:right;width:100px;}
.css_dr_porcentaje_retencion__label { }
.css_dr_porcentaje_retencion__line {text-align:left;}
.css_dr_porcentaje_retencion__obj {text-align:right;width:100px;}
.css_dr_valor_retenido__label { }
.css_dr_valor_retenido__line {text-align:left;}
.css_dr_valor_retenido__obj {text-align:right;width:100px;}
