.css_cl_nombre_label, .css_cl_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_nombre_grid_line, .css_cl_nombre_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_identificacion_label, .css_cl_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_identificacion_grid_line, .css_cl_identificacion_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_direccion_label, .css_cl_direccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_direccion_grid_line, .css_cl_direccion_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_telefono_label, .css_cl_telefono_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_telefono_grid_line, .css_cl_telefono_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_email_label, .css_cl_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_email_grid_line, .css_cl_email_grid_line:hover {vertical-align: middle;text-align: right;}
.css_valor_label, .css_valor_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line, .css_valor_grid_line:hover {text-align: right;}
.css_valor_tot_ger, .css_valor_tot_ger:hover {text-align: right;}
.css_cfm_factura_label, .css_cfm_factura_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cfm_factura_grid_line, .css_cfm_factura_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cfm_estado_label, .css_cfm_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cfm_estado_grid_line, .css_cfm_estado_grid_line:hover {vertical-align: middle;text-align: right;}
.css_btn_eliminar_label, .css_btn_eliminar_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_btn_eliminar_grid_line, .css_btn_eliminar_grid_line:hover {text-align: right;}
.css_cfm_id_label, .css_cfm_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cfm_id_grid_line, .css_cfm_id_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cfm_factura_multiple_label, .css_cfm_factura_multiple_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cfm_factura_multiple_grid_line, .css_cfm_factura_multiple_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cfm_cliente_label, .css_cfm_cliente_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cfm_cliente_grid_line, .css_cfm_cliente_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cfm_empresa_label, .css_cfm_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cfm_empresa_grid_line, .css_cfm_empresa_grid_line:hover {vertical-align: middle;text-align: right;}
