.css_cat_id_label, .css_cat_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cat_id_grid_line, .css_cat_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_cat_nombre_label, .css_cat_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cat_nombre_grid_line, .css_cat_nombre_grid_line:hover {vertical-align: top;text-align: right;}
.css_cat_vista_bdd_label, .css_cat_vista_bdd_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cat_vista_bdd_grid_line, .css_cat_vista_bdd_grid_line:hover {vertical-align: top;text-align: right;}
