.css_lib_id_label { }
.css_lib_id_line {text-align:left;}
.css_lib_id_obj {text-align:left;}
.css_lib_punto_emision_label { }
.css_lib_punto_emision_line {text-align:left;}
.css_lib_punto_emision_obj {text-align:left;}
.css_lib_tipo_comprobante_label { }
.css_lib_tipo_comprobante_line {text-align:left;}
.css_lib_tipo_comprobante_obj {text-align:left;}
.css_lib_secuencial_label { }
.css_lib_secuencial_line {text-align:left;}
.css_lib_secuencial_obj {text-align:left;}
.css_lib_disponibles_label { }
.css_lib_disponibles_line {text-align:left;}
.css_lib_disponibles_obj {text-align:left;}
.css_lib_estado_label { }
.css_lib_estado_line { }
.css_lib_estado_obj { }
.css_lib_tipo_libretin_label { }
.css_lib_tipo_libretin_line {text-align:left;}
.css_lib_tipo_libretin_obj {text-align:left;}
.css_lib_utilizados_label { }
.css_lib_utilizados_line {text-align:left;}
.css_lib_utilizados_obj {text-align:left;}
.css_lib_desde_label { }
.css_lib_desde_line {text-align:left;}
.css_lib_desde_obj {text-align:left;}
.css_lib_hasta_label { }
.css_lib_hasta_line {text-align:left;}
.css_lib_hasta_obj {text-align:left;}
.css_lib_autorizacion_label { }
.css_lib_autorizacion_line { }
.css_lib_autorizacion_obj { }
.css_lib_fecha_caducidad_label { }
.css_lib_fecha_caducidad_line { }
.css_lib_fecha_caducidad_obj { }
