.css_scd_estado_label { }
.css_scd_estado_line { }
.css_scd_estado_obj { }
.css_scd_fecha_label { }
.css_scd_fecha_line { }
.css_scd_fecha_obj { }
.css_scd_id_label { }
.css_scd_id_line {text-align:left;}
.css_scd_id_obj {text-align:left;}
.css_scd_motivo_cambio_label { }
.css_scd_motivo_cambio_line { }
.css_scd_motivo_cambio_obj { }
.css_scd_nuevo_propietario_label { }
.css_scd_nuevo_propietario_line {text-align:left;}
.css_scd_nuevo_propietario_obj {text-align:left;}
.css_scd_propietario_actual_label { }
.css_scd_propietario_actual_line {text-align:left;}
.css_scd_propietario_actual_obj {text-align:left;}
.css_detalles_label { }
.css_detalles_line { }
.css_detalles_obj { }
