.css_err_codigo__label { }
.css_err_codigo__line {text-align:left;}
.css_err_codigo__obj {text-align:left;}
.css_err_descripcion__label { }
.css_err_descripcion__line { }
.css_err_descripcion__obj { }
.css_err_motivo_solucion__label { }
.css_err_motivo_solucion__line { }
.css_err_motivo_solucion__obj { }
.css_err_etapa__label { }
.css_err_etapa__line {text-align:left;}
.css_err_etapa__obj {text-align:left;}
