.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_nd_subtotal_sum_label, .css_nd_subtotal_sum_label:hover {text-align: right; vertical-align: top}
.css_nd_subtotal_sum_field, .css_nd_subtotal_sum_field:hover {text-align: right; vertical-align: top}
.css_nd_subtotal_iva_sum_label, .css_nd_subtotal_iva_sum_label:hover {text-align: right; vertical-align: top}
.css_nd_subtotal_iva_sum_field, .css_nd_subtotal_iva_sum_field:hover {text-align: right; vertical-align: top}
.css_nd_subtotal_cero_sum_label, .css_nd_subtotal_cero_sum_label:hover {text-align: right; vertical-align: top}
.css_nd_subtotal_cero_sum_field, .css_nd_subtotal_cero_sum_field:hover {text-align: right; vertical-align: top}
.css_nd_subtotal_no_objeto_sum_label, .css_nd_subtotal_no_objeto_sum_label:hover {text-align: right; vertical-align: top}
.css_nd_subtotal_no_objeto_sum_field, .css_nd_subtotal_no_objeto_sum_field:hover {text-align: right; vertical-align: top}
.css_nd_subtotal_excento_sum_label, .css_nd_subtotal_excento_sum_label:hover {text-align: right; vertical-align: top}
.css_nd_subtotal_excento_sum_field, .css_nd_subtotal_excento_sum_field:hover {text-align: right; vertical-align: top}
.css_nd_valor_ice_sum_label, .css_nd_valor_ice_sum_label:hover {text-align: right; vertical-align: top}
.css_nd_valor_ice_sum_field, .css_nd_valor_ice_sum_field:hover {text-align: right; vertical-align: top}
.css_nd_valor_iva_sum_label, .css_nd_valor_iva_sum_label:hover {text-align: right; vertical-align: top}
.css_nd_valor_iva_sum_field, .css_nd_valor_iva_sum_field:hover {text-align: right; vertical-align: top}
.css_nd_total_sum_label, .css_nd_total_sum_label:hover {text-align: right; vertical-align: top}
.css_nd_total_sum_field, .css_nd_total_sum_field:hover {text-align: right; vertical-align: top}
