.css_rc_contrato__label { }
.css_rc_contrato__line {text-align:left;}
.css_rc_contrato__obj {text-align:left;}
.css_rc_producto__label { }
.css_rc_producto__line { }
.css_rc_producto__obj { }
.css_rc_valor__label { }
.css_rc_valor__line {text-align:right;}
.css_rc_valor__obj {text-align:right;}
.css_rc_estado__label { }
.css_rc_estado__line { }
.css_rc_estado__obj { }
.css_rc_por_iva__label { }
.css_rc_por_iva__line {text-align:right;}
.css_rc_por_iva__obj {text-align:right;}
.css_rc_iva__label { }
.css_rc_iva__line {text-align:right;}
.css_rc_iva__obj {text-align:right;}
.css_rc_total__label { }
.css_rc_total__line {text-align:right;}
.css_rc_total__obj {text-align:right;}
