.css_ddt_cantidad__label { }
.css_ddt_cantidad__line {text-align:left;}
.css_ddt_cantidad__obj {text-align:left;}
.css_ddt_escenario__label { }
.css_ddt_escenario__line {text-align:left;}
.css_ddt_escenario__obj {text-align:left;}
.css_ddt_id__label { }
.css_ddt_id__line {text-align:left;}
.css_ddt_id__obj {text-align:left;}
.css_ddt_iva__label { }
.css_ddt_iva__line {text-align:left;}
.css_ddt_iva__obj {text-align:left;}
.css_ddt_por_iva__label { }
.css_ddt_por_iva__line {text-align:left;}
.css_ddt_por_iva__obj {text-align:left;}
.css_ddt_producto__label { }
.css_ddt_producto__line { }
.css_ddt_producto__obj { }
.css_ddt_total__label { }
.css_ddt_total__line {text-align:left;}
.css_ddt_total__obj {text-align:left;}
.css_ddt_valor__label { }
.css_ddt_valor__line {text-align:left;}
.css_ddt_valor__obj {text-align:left;}
.css_ddt_subtotal__label { }
.css_ddt_subtotal__line {text-align:left;}
.css_ddt_subtotal__obj {text-align:left;}
.css_ddt_costo__label { }
.css_ddt_costo__line {text-align:left;}
.css_ddt_costo__obj {text-align:left;}
.css_ddt_bodega__label { }
.css_ddt_bodega__line {text-align:left;}
.css_ddt_bodega__obj {text-align:left;}
.css_ddt_unidad__label { }
.css_ddt_unidad__line {text-align:left;}
.css_ddt_unidad__obj {text-align:left;}
.css_ddt_precio_inventario__label { }
.css_ddt_precio_inventario__line { }
.css_ddt_precio_inventario__obj { }
.css_ddt_unidad_inventario__label { }
.css_ddt_unidad_inventario__line { }
.css_ddt_unidad_inventario__obj { }
