.css_par_id__label { }
.css_par_id__line {text-align:left;}
.css_par_id__obj {text-align:left;}
.css_par_empresa__label { }
.css_par_empresa__line { }
.css_par_empresa__obj { }
.css_par_pametro__label { }
.css_par_pametro__line { }
.css_par_pametro__obj { }
.css_par_valor__label { }
.css_par_valor__line { }
.css_par_valor__obj { }
.css_par_tipo__label { }
.css_par_tipo__line { }
.css_par_tipo__obj { }
