.css_sec_id__label { }
.css_sec_id__line { }
.css_sec_id__obj { }
.css_sec_empresa__label { }
.css_sec_empresa__line { }
.css_sec_empresa__obj { }
.css_sec_secuencial__label { }
.css_sec_secuencial__line { }
.css_sec_secuencial__obj { }
.css_sec_valor__label {text-align:;}
.css_sec_valor__line {text-align:left;}
.css_sec_valor__obj {text-align:left;}
.css_sec_incremento__label {text-align:;}
.css_sec_incremento__line {text-align:left;}
.css_sec_incremento__obj {text-align:left;}
