.css_del_punto_emision_pem_establecimiento_label, .css_del_punto_emision_pem_establecimiento_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_del_punto_emision_pem_establecimiento_grid_line, .css_del_punto_emision_pem_establecimiento_grid_line:hover {vertical-align: top;text-align: right;}
.css_serie_label, .css_serie_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_serie_grid_line, .css_serie_grid_line:hover {vertical-align: top;text-align: right;}
.css_del_punto_emision_pem_estado_label, .css_del_punto_emision_pem_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_del_punto_emision_pem_estado_grid_line, .css_del_punto_emision_pem_estado_grid_line:hover {vertical-align: top;text-align: right;}
.css_btn_comprar_label, .css_btn_comprar_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_btn_comprar_grid_line, .css_btn_comprar_grid_line:hover {text-align: right;}
