.css_bo_establecimiento_label { }
.css_bo_establecimiento_line {text-align:left;}
.css_bo_establecimiento_obj {text-align:left;}
.css_bo_id_label { }
.css_bo_id_line {text-align:left;}
.css_bo_id_obj {text-align:left;}
.css_bo_nombre_label { }
.css_bo_nombre_line { }
.css_bo_nombre_obj { }
.css_productos_label { }
.css_productos_line { }
.css_productos_obj { }
