.css_pro_codigo_label, .css_pro_codigo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pro_codigo_grid_line, .css_pro_codigo_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pro_codigo_aux_label, .css_pro_codigo_aux_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pro_codigo_aux_grid_line, .css_pro_codigo_aux_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pro_empresa_label, .css_pro_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pro_empresa_grid_line, .css_pro_empresa_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pro_descripcion_label, .css_pro_descripcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pro_descripcion_grid_line, .css_pro_descripcion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pro_iva_label, .css_pro_iva_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pro_iva_grid_line, .css_pro_iva_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pro_por_iva_label, .css_pro_por_iva_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pro_por_iva_grid_line, .css_pro_por_iva_grid_line:hover {vertical-align: middle;text-align: right;}
