.css_pro_codigo_fil_obj, .css_pro_codigo_fil_obj:hover {width:300px;}
.css_pro_descripcion_fil_obj, .css_pro_descripcion_fil_obj:hover {width:300px;}
.css_pro_categoria_producto_fil_obj, .css_pro_categoria_producto_fil_obj:hover {width:320px;}
