.css_opm_nombre_label { }
.css_opm_nombre_line { }
.css_opm_nombre_obj {width:300px;}
.css_opm_estado_label { }
.css_opm_estado_line { }
.css_opm_estado_obj {width:160px;}
.css_opm_imagen_label { }
.css_opm_imagen_line { }
.css_opm_imagen_obj { }
.css_opm_enlace_label { }
.css_opm_enlace_line { }
.css_opm_enlace_obj {width:300px;}
.css_opm_orden_label { }
.css_opm_orden_line {text-align:left;}
.css_opm_orden_obj {text-align:left;width:140px;}
.css_opm_sistema_label { }
.css_opm_sistema_line { }
.css_opm_sistema_obj {width:320px;}
.css_opm_etiqueta_label { }
.css_opm_etiqueta_line { }
.css_opm_etiqueta_obj {width:300px;}
.css_opciones_label { }
.css_opciones_line { }
.css_opciones_obj { }
