.css_car_id__label {text-align:;}
.css_car_id__line {text-align:left;}
.css_car_id__obj {text-align:left;}
.css_car_descripcion__label { }
.css_car_descripcion__line { }
.css_car_descripcion__obj {width:200px;}
.css_car_estado__label { }
.css_car_estado__line { }
.css_car_estado__obj {width:180px;}
