.css_dg_id_label { }
.css_dg_id_line {text-align:left;}
.css_dg_id_obj {text-align:left;}
.css_dg_guia_label { }
.css_dg_guia_line {text-align:left;}
.css_dg_guia_obj {text-align:left;}
.css_dg_empresa_label { }
.css_dg_empresa_line { }
.css_dg_empresa_obj { }
.css_dg_identificacion_destinatario_label { }
.css_dg_identificacion_destinatario_line { }
.css_dg_identificacion_destinatario_obj { }
.css_dg_nombre_destinatario_label { }
.css_dg_nombre_destinatario_line { }
.css_dg_nombre_destinatario_obj { }
.css_dg_establecimiento_destino_label { }
.css_dg_establecimiento_destino_line { }
.css_dg_establecimiento_destino_obj { }
.css_dg_documento_aduanero_label { }
.css_dg_documento_aduanero_line { }
.css_dg_documento_aduanero_obj { }
.css_dg_iddoc_sustento_label { }
.css_dg_iddoc_sustento_line {text-align:left;}
.css_dg_iddoc_sustento_obj {text-align:left;}
.css_dg_coddoc_sustento_label { }
.css_dg_coddoc_sustento_line { }
.css_dg_coddoc_sustento_obj { }
.css_dg_serie_sustento_label { }
.css_dg_serie_sustento_line { }
.css_dg_serie_sustento_obj { }
.css_dg_secuencial_sustento_label { }
.css_dg_secuencial_sustento_line { }
.css_dg_secuencial_sustento_obj { }
.css_dg_autorizacion_sustento_label { }
.css_dg_autorizacion_sustento_line { }
.css_dg_autorizacion_sustento_obj { }
.css_dg_fecha_sustento_label { }
.css_dg_fecha_sustento_line { }
.css_dg_fecha_sustento_obj { }
.css_dg_direccion_destino_label { }
.css_dg_direccion_destino_line { }
.css_dg_direccion_destino_obj { }
.css_dg_motivo_traslado_label { }
.css_dg_motivo_traslado_line { }
.css_dg_motivo_traslado_obj { }
.css_dg_ruta_label { }
.css_dg_ruta_line { }
.css_dg_ruta_obj { }
.css_dg_tipo_label { }
.css_dg_tipo_line { }
.css_dg_tipo_obj { }
.css_productos_label { }
.css_productos_line { }
.css_productos_obj { }
.css_tipo_sustento_label { }
.css_tipo_sustento_line { }
.css_tipo_sustento_obj {width:120px;}
.css_serie_sustento_label { }
.css_serie_sustento_line { }
.css_serie_sustento_obj {width:120px;}
.css_secuencial_sustento_label { }
.css_secuencial_sustento_line { }
.css_secuencial_sustento_obj {width:120px;}
.css_autorizacion_sustento_label { }
.css_autorizacion_sustento_line { }
.css_autorizacion_sustento_obj {width:240px;}
.css_fecha_sustento_label { }
.css_fecha_sustento_line { }
.css_fecha_sustento_obj { }
