.css_dr_id_label { }
.css_dr_id_line {text-align:left;}
.css_dr_id_obj {text-align:left;}
.css_dr_retencion_label { }
.css_dr_retencion_line {text-align:left;}
.css_dr_retencion_obj {text-align:left;}
.css_dr_empresa_label { }
.css_dr_empresa_line { }
.css_dr_empresa_obj { }
.css_dr_factura_venta_label { }
.css_dr_factura_venta_line {text-align:left;}
.css_dr_factura_venta_obj {text-align:left;}
.css_dr_cod_doc_sustento_label { }
.css_dr_cod_doc_sustento_line { }
.css_dr_cod_doc_sustento_obj { }
.css_dr_serie_doc_sustento_label { }
.css_dr_serie_doc_sustento_line { }
.css_dr_serie_doc_sustento_obj { }
.css_dr_secuencia_doc_sustento_label { }
.css_dr_secuencia_doc_sustento_line {text-align:left;}
.css_dr_secuencia_doc_sustento_obj {text-align:left;}
.css_dr_fecha_emision_doc_sustento_label { }
.css_dr_fecha_emision_doc_sustento_line { }
.css_dr_fecha_emision_doc_sustento_obj { }
.css_dr_estado_label { }
.css_dr_estado_line { }
.css_dr_estado_obj { }
.css_dr_cliente_label { }
.css_dr_cliente_line {text-align:left;}
.css_dr_cliente_obj {text-align:left;}
.css_detalles_label { }
.css_detalles_line { }
.css_detalles_obj { }
.css_cod_doc_sustento_label { }
.css_cod_doc_sustento_line { }
.css_cod_doc_sustento_obj { }
.css_serie_doc_sustento_label { }
.css_serie_doc_sustento_line { }
.css_serie_doc_sustento_obj { }
.css_secuencial_doc_sustento_label { }
.css_secuencial_doc_sustento_line { }
.css_secuencial_doc_sustento_obj { }
.css_fecha_doc_sustento_label { }
.css_fecha_doc_sustento_line { }
.css_fecha_doc_sustento_obj { }
.css_subtotal_label { }
.css_subtotal_line { }
.css_subtotal_obj {text-align:right;}
.css_iva_label { }
.css_iva_line { }
.css_iva_obj {text-align:right;}
