.css_psr_id__label { }
.css_psr_id__line {text-align:left;}
.css_psr_id__obj {text-align:left;}
.css_psr_sustento_retencion__label { }
.css_psr_sustento_retencion__line {text-align:left;}
.css_psr_sustento_retencion__obj {text-align:left;}
.css_psr_forma_pago__label { }
.css_psr_forma_pago__line { }
.css_psr_forma_pago__obj { }
.css_psr_valor_pago__label { }
.css_psr_valor_pago__line {text-align:left;}
.css_psr_valor_pago__obj {text-align:left;}
.css_psr_estado__label { }
.css_psr_estado__line { }
.css_psr_estado__obj { }
