.css_con_numero_contrato_label, .css_con_numero_contrato_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_con_numero_contrato_grid_line, .css_con_numero_contrato_grid_line:hover {vertical-align: middle;text-align: right;}
.css_con_ruta_label, .css_con_ruta_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_con_ruta_grid_line, .css_con_ruta_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_identificacion_label, .css_cl_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_identificacion_grid_line, .css_cl_identificacion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_nombre_label, .css_cl_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_nombre_grid_line, .css_cl_nombre_grid_line:hover {vertical-align: middle;text-align: left;}
.css_dec_nombre_label, .css_dec_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dec_nombre_grid_line, .css_dec_nombre_grid_line:hover {vertical-align: middle;text-align: left;}
.css_comentario_label, .css_comentario_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_comentario_grid_line, .css_comentario_grid_line:hover {vertical-align: middle;text-align: left;}
.css_count_label, .css_count_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_count_grid_line, .css_count_grid_line:hover {vertical-align: middle;text-align: left;}
.css_sum_label, .css_sum_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sum_grid_line, .css_sum_grid_line:hover {vertical-align: middle;text-align: left;}
.css_op_empresa_label, .css_op_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_op_empresa_grid_line, .css_op_empresa_grid_line:hover {vertical-align: middle;text-align: left;}
