.css_tf_id_label { }
.css_tf_id_line {text-align:left;}
.css_tf_id_obj {text-align:left;}
.css_tf_fecha_label { }
.css_tf_fecha_line { }
.css_tf_fecha_obj { }
.css_tf_bodega_label { }
.css_tf_bodega_line {text-align:left;}
.css_tf_bodega_obj {text-align:left;}
.css_tf_comentario_label { }
.css_tf_comentario_line { }
.css_tf_comentario_obj { }
.css_tf_estado_label { }
.css_tf_estado_line { }
.css_tf_estado_obj { }
.css_productos_label { }
.css_productos_line { }
.css_productos_obj { }
.css_establecimiento_label { }
.css_establecimiento_line { }
.css_establecimiento_obj { }
