.css_parr_id__label { }
.css_parr_id__line {text-align:left;}
.css_parr_id__obj {text-align:left;}
.css_parr_canton__label { }
.css_parr_canton__line {text-align:left;}
.css_parr_canton__obj {text-align:left;}
.css_parr_nombre__label { }
.css_parr_nombre__line { }
.css_parr_nombre__obj { }
