.css_can_id__label { }
.css_can_id__line {text-align:left;}
.css_can_id__obj {text-align:left;}
.css_can_provincia__label { }
.css_can_provincia__line {text-align:left;}
.css_can_provincia__obj {text-align:left;}
.css_can_nombre__label { }
.css_can_nombre__line { }
.css_can_nombre__obj { }
.css_can_codigo__label { }
.css_can_codigo__line { }
.css_can_codigo__obj { }
.css_can_pais__label { }
.css_can_pais__line {text-align:left;}
.css_can_pais__obj {text-align:left;}
