.css_fil_empresa_label { }
.css_fil_empresa_line {text-align:left;}
.css_fil_empresa_obj {text-align:left;width:200px;}
.css_fil_nombre_label { }
.css_fil_nombre_line { }
.css_fil_nombre_obj {width:200px;}
.css_fil_ruc_label { }
.css_fil_ruc_line { }
.css_fil_ruc_obj {width:200px;}
.css_fil_email_label { }
.css_fil_email_line { }
.css_fil_email_obj {width:200px;}
.css_fil_representante_label { }
.css_fil_representante_line { }
.css_fil_representante_obj {width:200px;}
.css_fil_contador_label { }
.css_fil_contador_line { }
.css_fil_contador_obj {width:200px;}
.css_fil_actividad_economica_label { }
.css_fil_actividad_economica_line {text-align:left;}
.css_fil_actividad_economica_obj {text-align:left;width:200px;}
.css_fil_estado_label { }
.css_fil_estado_line { }
.css_fil_estado_obj {width:200px;}
.css_fil_pais_label { }
.css_fil_pais_line {text-align:left;}
.css_fil_pais_obj {text-align:left;width:200px;}
.css_fil_provincia_label { }
.css_fil_provincia_line {text-align:left;}
.css_fil_provincia_obj {text-align:left;width:200px;}
.css_fil_ciudad_label { }
.css_fil_ciudad_line {text-align:left;}
.css_fil_ciudad_obj {text-align:left;width:200px;}
.css_fil_barrio_label { }
.css_fil_barrio_line {text-align:left;}
.css_fil_barrio_obj {text-align:left;width:200px;}
.css_fil_direccion_label { }
.css_fil_direccion_line { }
.css_fil_direccion_obj { }
.css_fil_referencia_label { }
.css_fil_referencia_line { }
.css_fil_referencia_obj {width:200px;}
.css_fil_parroquia_label { }
.css_fil_parroquia_line {text-align:left;}
.css_fil_parroquia_obj {text-align:left;width:200px;}
.css_fil_telefono_label { }
.css_fil_telefono_line { }
.css_fil_telefono_obj { }
.css_fil_razon_social_label { }
.css_fil_razon_social_line { }
.css_fil_razon_social_obj { }
.css_fil_obligado_contabilidad_label { }
.css_fil_obligado_contabilidad_line { }
.css_fil_obligado_contabilidad_obj { }
.css_fil_contribuyente_especial_label { }
.css_fil_contribuyente_especial_line { }
.css_fil_contribuyente_especial_obj { }
.css_fil_ambiente_sri_label { }
.css_fil_ambiente_sri_line {text-align:left;}
.css_fil_ambiente_sri_obj {text-align:left;}
.css_fil_padronrimpe_label { }
.css_fil_padronrimpe_line { }
.css_fil_padronrimpe_obj { }
