.css_dgd_id__label { }
.css_dgd_id__line {text-align:left;}
.css_dgd_id__obj {text-align:left;}
.css_dgd_destinatario__label { }
.css_dgd_destinatario__line {text-align:left;}
.css_dgd_destinatario__obj {text-align:left;}
.css_dgd_producto__label { }
.css_dgd_producto__line { }
.css_dgd_producto__obj { }
.css_dgd_descripcion_adicional__label { }
.css_dgd_descripcion_adicional__line { }
.css_dgd_descripcion_adicional__obj { }
.css_dgd_cantidad__label { }
.css_dgd_cantidad__line {text-align:left;}
.css_dgd_cantidad__obj {text-align:right;}
