.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_op_total_sum_label, .css_op_total_sum_label:hover {text-align: right; vertical-align: top}
.css_op_total_sum_field, .css_op_total_sum_field:hover {text-align: right; vertical-align: top}
