.css_dep_id__label { }
.css_dep_id__line {text-align:left;}
.css_dep_id__obj {text-align:left;}
.css_dep_id_pedido__label { }
.css_dep_id_pedido__line {text-align:left;}
.css_dep_id_pedido__obj {text-align:left;}
.css_dep_identificacion_quien_recibe__label { }
.css_dep_identificacion_quien_recibe__line { }
.css_dep_identificacion_quien_recibe__obj { }
.css_dep_nombre_quien_recibie__label { }
.css_dep_nombre_quien_recibie__line { }
.css_dep_nombre_quien_recibie__obj { }
.css_dep_pais__label { }
.css_dep_pais__line {text-align:left;}
.css_dep_pais__obj {text-align:left;}
.css_dep_ciudad__label { }
.css_dep_ciudad__line {text-align:left;}
.css_dep_ciudad__obj {text-align:left;}
.css_dep_direccion__label { }
.css_dep_direccion__line { }
.css_dep_direccion__obj { }
.css_dep_telefono__label { }
.css_dep_telefono__line { }
.css_dep_telefono__obj { }
.css_dep_provincial__label { }
.css_dep_provincial__line {text-align:left;}
.css_dep_provincial__obj {text-align:left;}
