.css_pri_id__label { }
.css_pri_id__line {text-align:left;}
.css_pri_id__obj {text-align:left;}
.css_pri_impuesto__label { }
.css_pri_impuesto__line {text-align:left;}
.css_pri_impuesto__obj {text-align:left;}
.css_pri_descripcion__label { }
.css_pri_descripcion__line { }
.css_pri_descripcion__obj { }
.css_pri_codigo__label { }
.css_pri_codigo__line { }
.css_pri_codigo__obj { }
.css_pri_porcentaje__label { }
.css_pri_porcentaje__line {text-align:right;}
.css_pri_porcentaje__obj {text-align:right;}
.css_pri_estado__label { }
.css_pri_estado__line { }
.css_pri_estado__obj { }
.css_pri_editable__label { }
.css_pri_editable__line { }
.css_pri_editable__obj { }
