.css_per_rol__label { }
.css_per_rol__line {text-align:left;}
.css_per_rol__obj {text-align:left;}
.css_mm_id__label { }
.css_mm_id__line {text-align:left;}
.css_mm_id__obj {text-align:left;}
.css_mm_modulo__label { }
.css_mm_modulo__line {text-align:left;}
.css_mm_modulo__obj {text-align:left;}
.css_mm_menu__label { }
.css_mm_menu__line { }
.css_mm_menu__obj { }
.css_mm_descripcion__label { }
.css_mm_descripcion__line { }
.css_mm_descripcion__obj { }
.css_per_permiso__label { }
.css_per_permiso__line { }
.css_per_permiso__obj { }
