.css_scp_id_label { }
.css_scp_id_line {text-align:left;}
.css_scp_id_obj {text-align:left;}
.css_scp_fecha_label { }
.css_scp_fecha_line { }
.css_scp_fecha_obj { }
.css_scp_propietario_label { }
.css_scp_propietario_line {text-align:left;}
.css_scp_propietario_obj {text-align:left;}
.css_scp_monto_label { }
.css_scp_monto_line {text-align:left;}
.css_scp_monto_obj {text-align:left;}
.css_scp_plazo_label { }
.css_scp_plazo_line {text-align:left;}
.css_scp_plazo_obj {text-align:left;}
.css_scp_taza_label { }
.css_scp_taza_line {text-align:left;}
.css_scp_taza_obj {text-align:left;}
.css_scp_tipo_amortizacion_label { }
.css_scp_tipo_amortizacion_line { }
.css_scp_tipo_amortizacion_obj { }
.css_scp_secuencial_documento_label { }
.css_scp_secuencial_documento_line {text-align:left;}
.css_scp_secuencial_documento_obj {text-align:left;}
.css_scp_estado_label { }
.css_scp_estado_line { }
.css_scp_estado_obj { }
.css_amortizacion_label { }
.css_amortizacion_line { }
.css_amortizacion_obj { }
.css_detalles_label { }
.css_detalles_line { }
.css_detalles_obj { }
