.css_usu_empresa_label { }
.css_usu_empresa_line { }
.css_usu_empresa_obj {width:300px;}
.css_usu_usuario_label { }
.css_usu_usuario_line { }
.css_usu_usuario_obj {width:300px;}
.css_usu_nombre_label { }
.css_usu_nombre_line { }
.css_usu_nombre_obj {width:300px;}
.css_usu_email_label { }
.css_usu_email_line { }
.css_usu_email_obj {width:300px;}
.css_usu_estado_label { }
.css_usu_estado_line { }
.css_usu_estado_obj {width:170px;}
.css_usu_cedula_label { }
.css_usu_cedula_line { }
.css_usu_cedula_obj {width:150px;}
.css_usu_telefono_label { }
.css_usu_telefono_line { }
.css_usu_telefono_obj {width:150px;}
.css_usu_super_administrador_label { }
.css_usu_super_administrador_line { }
.css_usu_super_administrador_obj { }
.css_usu_ruc_empresa_label { }
.css_usu_ruc_empresa_line { }
.css_usu_ruc_empresa_obj { }
.css_usu_establecimiento_empresa_label { }
.css_usu_establecimiento_empresa_line {text-align:left;}
.css_usu_establecimiento_empresa_obj {text-align:left;}
.css_usu_punto_emision_label { }
.css_usu_punto_emision_line {text-align:left;}
.css_usu_punto_emision_obj {text-align:left;}
.css_usu_direccion_label { }
.css_usu_direccion_line { }
.css_usu_direccion_obj { }
.css_roles_label { }
.css_roles_line { }
.css_roles_obj { }
.css_transporte_label { }
.css_transporte_line { }
.css_transporte_obj { }
.css_socio_label { }
.css_socio_line { }
.css_socio_obj { }
