.css_ruc_label, .css_ruc_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ruc_grid_line, .css_ruc_grid_line:hover {vertical-align: middle;text-align: right;}
.css_razon_social_label, .css_razon_social_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_razon_social_grid_line, .css_razon_social_grid_line:hover {vertical-align: middle;text-align: right;}
.css_serie_label, .css_serie_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_serie_grid_line, .css_serie_grid_line:hover {vertical-align: middle;text-align: right;}
.css_telefono_label, .css_telefono_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telefono_grid_line, .css_telefono_grid_line:hover {vertical-align: middle;text-align: right;}
.css_tipo_comprobante_label, .css_tipo_comprobante_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_comprobante_grid_line, .css_tipo_comprobante_grid_line:hover {vertical-align: middle;text-align: right;}
.css_fecha_caducidad_label, .css_fecha_caducidad_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha_caducidad_grid_line, .css_fecha_caducidad_grid_line:hover {vertical-align: middle;text-align: right;}
