.css_od_id__label { }
.css_od_id__line { }
.css_od_id__obj { }
.css_od_solicitud__label { }
.css_od_solicitud__line {text-align:left;}
.css_od_solicitud__obj {text-align:left;}
.css_od_operacion__label { }
.css_od_operacion__line {text-align:left;}
.css_od_operacion__obj {text-align:left;}
.css_od_tipo_cartera__label { }
.css_od_tipo_cartera__line { }
.css_od_tipo_cartera__obj { }
.css_od_comentario__label { }
.css_od_comentario__line { }
.css_od_comentario__obj { }
.css_od_saldo__label {text-align:right;}
.css_od_saldo__line {text-align:right;}
.css_od_saldo__obj {text-align:right;}
.css_od_estado__label { }
.css_od_estado__line { }
.css_od_estado__obj { }
