.css_des_id__label { }
.css_des_id__line {text-align:left;}
.css_des_id__obj {text-align:left;}
.css_des_propietario__label { }
.css_des_propietario__line {text-align:left;}
.css_des_propietario__obj {text-align:left;}
.css_des_contrato__label { }
.css_des_contrato__line {text-align:left;}
.css_des_contrato__obj {text-align:left;}
.css_des_lectura_anterior__label { }
.css_des_lectura_anterior__line {text-align:left;}
.css_des_lectura_anterior__obj {text-align:left;}
.css_des_lectura_actual__label { }
.css_des_lectura_actual__line {text-align:left;}
.css_des_lectura_actual__obj {text-align:left;}
.css_des_consumo_base__label { }
.css_des_consumo_base__line {text-align:left;}
.css_des_consumo_base__obj {text-align:left;}
.css_des_consumo_excedente__label { }
.css_des_consumo_excedente__line {text-align:left;}
.css_des_consumo_excedente__obj {text-align:left;}
.css_des_total__label { }
.css_des_total__line {text-align:left;}
.css_des_total__obj {text-align:left;}
.css_des_numero_medidor__label { }
.css_des_numero_medidor__line { }
.css_des_numero_medidor__obj { }
.css_des_consumo__label { }
.css_des_consumo__line {text-align:left;}
.css_des_consumo__obj {text-align:left;}
.css_des_orden__label { }
.css_des_orden__line {text-align:left;}
.css_des_orden__obj {text-align:left;}
.css_des_revisar__label { }
.css_des_revisar__line { }
.css_des_revisar__obj { }
.css_des_registra_danio__label { }
.css_des_registra_danio__line { }
.css_des_registra_danio__obj { }
.css_des_contabilizado__label { }
.css_des_contabilizado__line { }
.css_des_contabilizado__obj { }
.css_des_imagen_lectura__label { }
.css_des_imagen_lectura__line { }
.css_des_imagen_lectura__obj { }
.css_des_numero_censo__label { }
.css_des_numero_censo__line { }
.css_des_numero_censo__obj { }
