.css_sc_field_0_label, .css_sc_field_0_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line, .css_sc_field_0_grid_line:hover {vertical-align: middle;text-align: right;}
.css_gr_secuencial_label, .css_gr_secuencial_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gr_secuencial_grid_line, .css_gr_secuencial_grid_line:hover {vertical-align: middle;text-align: right;}
.css_tr_nombre_label, .css_tr_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tr_nombre_grid_line, .css_tr_nombre_grid_line:hover {vertical-align: middle;text-align: right;}
.css_tr_identificacion_label, .css_tr_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tr_identificacion_grid_line, .css_tr_identificacion_grid_line:hover {vertical-align: middle;text-align: right;}
.css_tr_placa_label, .css_tr_placa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tr_placa_grid_line, .css_tr_placa_grid_line:hover {vertical-align: middle;text-align: right;}
.css_gr_fecha_ini_transporte_label, .css_gr_fecha_ini_transporte_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gr_fecha_ini_transporte_grid_line, .css_gr_fecha_ini_transporte_grid_line:hover {vertical-align: middle;text-align: right;}
.css_gr_fecha_fin_transporte_label, .css_gr_fecha_fin_transporte_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gr_fecha_fin_transporte_grid_line, .css_gr_fecha_fin_transporte_grid_line:hover {vertical-align: middle;text-align: right;}
.css_gr_estado_sri_label, .css_gr_estado_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gr_estado_sri_grid_line, .css_gr_estado_sri_grid_line:hover {vertical-align: middle;text-align: right;}
.css_gr_numero_label, .css_gr_numero_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_gr_numero_grid_line, .css_gr_numero_grid_line:hover {vertical-align: middle;text-align: right;}
.css_gr_tipo_comprobante_label, .css_gr_tipo_comprobante_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gr_tipo_comprobante_grid_line, .css_gr_tipo_comprobante_grid_line:hover {vertical-align: middle;text-align: right;}
.css_gr_empresa_label, .css_gr_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gr_empresa_grid_line, .css_gr_empresa_grid_line:hover {vertical-align: middle;text-align: right;}
.css_gr_error_sri_label, .css_gr_error_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gr_error_sri_grid_line, .css_gr_error_sri_grid_line:hover {vertical-align: middle;text-align: right;}
.css_gr_autorizacion_label, .css_gr_autorizacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gr_autorizacion_grid_line, .css_gr_autorizacion_grid_line:hover {vertical-align: middle;text-align: right;}
