.css_sb_id__label { }
.css_sb_id__line {text-align:left;}
.css_sb_id__obj {text-align:left;}
.css_sb_anio__label { }
.css_sb_anio__line {text-align:left;}
.css_sb_anio__obj {text-align:left;}
.css_sb_valor__label { }
.css_sb_valor__line {text-align:left;}
.css_sb_valor__obj {text-align:left;}
