.css_com_ruc_label { }
.css_com_ruc_line { }
.css_com_ruc_obj {width:140px;}
.css_com_razon_social_label { }
.css_com_razon_social_line { }
.css_com_razon_social_obj {width:280px;}
.css_com_nombre_comercial_label { }
.css_com_nombre_comercial_line { }
.css_com_nombre_comercial_obj {width:280px;}
.css_com_actividad_label { }
.css_com_actividad_line { }
.css_com_actividad_obj {width:280px;}
.css_com_direccion_label { }
.css_com_direccion_line { }
.css_com_direccion_obj {width:280px;}
.css_com_telefono_label { }
.css_com_telefono_line { }
.css_com_telefono_obj {width:140px;}
.css_com_email_label { }
.css_com_email_line { }
.css_com_email_obj {width:280px;}
