.css_op_operacion__label {text-align:;}
.css_op_operacion__line {text-align:left;}
.css_op_operacion__obj {text-align:left;}
.css_op_tipo_cartera__label { }
.css_op_tipo_cartera__line { }
.css_op_tipo_cartera__obj { }
.css_op_propietario__label { }
.css_op_propietario__line {text-align:left;}
.css_op_propietario__obj {text-align:left;}
.css_op_comentario__label { }
.css_op_comentario__line { }
.css_op_comentario__obj { }
.css_op_estado__label { }
.css_op_estado__line { }
.css_op_estado__obj { }
.css_op_total__label { }
.css_op_total__line {text-align:left;}
.css_op_total__obj {text-align:left;}
