.css_fp_id__label { }
.css_fp_id__line {text-align:left;}
.css_fp_id__obj {text-align:left;}
.css_fp_forma_pago__label { }
.css_fp_forma_pago__line {text-align:left;}
.css_fp_forma_pago__obj {text-align:left;}
.css_fp_valor__label { }
.css_fp_valor__line {text-align:left;}
.css_fp_valor__obj {text-align:left;}
.css_fp_plazo__label { }
.css_fp_plazo__line {text-align:left;}
.css_fp_plazo__obj {text-align:left;}
.css_fp_unidad_tiempo__label { }
.css_fp_unidad_tiempo__line { }
.css_fp_unidad_tiempo__obj { }
.css_fp_lote__label { }
.css_fp_lote__line { }
.css_fp_lote__obj { }
.css_fp_transaccion__label { }
.css_fp_transaccion__line { }
.css_fp_transaccion__obj { }
