.css_bo_nombre_label, .css_bo_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bo_nombre_grid_line, .css_bo_nombre_grid_line:hover {vertical-align: middle;text-align: left;}
.css_bo_direccion_label, .css_bo_direccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bo_direccion_grid_line, .css_bo_direccion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_bo_responsable_label, .css_bo_responsable_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bo_responsable_grid_line, .css_bo_responsable_grid_line:hover {vertical-align: middle;text-align: left;}
.css_bo_estado_label, .css_bo_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bo_estado_grid_line, .css_bo_estado_grid_line:hover {vertical-align: middle;text-align: left;}
.css_bo_id_label, .css_bo_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bo_id_grid_line, .css_bo_id_grid_line:hover {vertical-align: middle;text-align: right;}
.css_bo_empresa_label, .css_bo_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bo_empresa_grid_line, .css_bo_empresa_grid_line:hover {vertical-align: middle;text-align: left;}
.css_bo_establecimiento_label, .css_bo_establecimiento_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bo_establecimiento_grid_line, .css_bo_establecimiento_grid_line:hover {vertical-align: middle;text-align: right;}
