.css_teo_id__label { }
.css_teo_id__line {text-align:left;}
.css_teo_id__obj {text-align:left;}
.css_teo_oficina__label { }
.css_teo_oficina__line {text-align:left;}
.css_teo_oficina__obj {text-align:left;}
.css_teo_numero__label { }
.css_teo_numero__line { }
.css_teo_numero__obj { }
.css_teo_tipo__label { }
.css_teo_tipo__line { }
.css_teo_tipo__obj { }
.css_teo_extension__label { }
.css_teo_extension__line { }
.css_teo_extension__obj { }
