.css_fac_fecha_label, .css_fac_fecha_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_fecha_grid_line, .css_fac_fecha_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fac_tipo_comprobante_label, .css_fac_tipo_comprobante_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_tipo_comprobante_grid_line, .css_fac_tipo_comprobante_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fac_serie_label, .css_fac_serie_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_serie_grid_line, .css_fac_serie_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fac_secuencial_label, .css_fac_secuencial_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_secuencial_grid_line, .css_fac_secuencial_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_nombre_label, .css_cl_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_nombre_grid_line, .css_cl_nombre_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_identificacion_label, .css_cl_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_identificacion_grid_line, .css_cl_identificacion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fac_total_label, .css_fac_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_fac_total_grid_line, .css_fac_total_grid_line:hover {vertical-align: middle;text-align: right;}
.css_fp_descripcion_label, .css_fp_descripcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fp_descripcion_grid_line, .css_fp_descripcion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fp_valor_label, .css_fp_valor_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_fp_valor_grid_line, .css_fp_valor_grid_line:hover {vertical-align: middle;text-align: right;}
.css_fp_valor_tot_ger, .css_fp_valor_tot_ger:hover {text-align: ;text-align: right;}
.css_fac_comentario_label, .css_fac_comentario_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_comentario_grid_line, .css_fac_comentario_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_direccion_label, .css_cl_direccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_direccion_grid_line, .css_cl_direccion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_telefono_label, .css_cl_telefono_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_telefono_grid_line, .css_cl_telefono_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_email_label, .css_cl_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_email_grid_line, .css_cl_email_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fac_autorizacion_label, .css_fac_autorizacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_autorizacion_grid_line, .css_fac_autorizacion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fac_error_sri_label, .css_fac_error_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_error_sri_grid_line, .css_fac_error_sri_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fp_transaccion_label, .css_fp_transaccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fp_transaccion_grid_line, .css_fp_transaccion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fp_lote_label, .css_fp_lote_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fp_lote_grid_line, .css_fp_lote_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fp_valor_S_sub_tot, .css_fp_valor_S_sub_tot:hover {text-align: left;text-align: right;}
.css_fp_valor_S_tot_ger, .css_fp_valor_S_tot_ger:hover {text-align: right;}
