.css_est_nombre_label, .css_est_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_nombre_grid_line, .css_est_nombre_grid_line:hover {vertical-align: top;text-align: right;}
.css_est_codigo_label, .css_est_codigo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_codigo_grid_line, .css_est_codigo_grid_line:hover {vertical-align: top;text-align: right;}
.css_est_estado_label, .css_est_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_estado_grid_line, .css_est_estado_grid_line:hover {vertical-align: top;text-align: right;}
.css_est_empresa_label, .css_est_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_empresa_grid_line, .css_est_empresa_grid_line:hover {vertical-align: top;text-align: right;}
.css_est_pais_label, .css_est_pais_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_pais_grid_line, .css_est_pais_grid_line:hover {vertical-align: top;text-align: right;}
.css_est_provincia_label, .css_est_provincia_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_provincia_grid_line, .css_est_provincia_grid_line:hover {vertical-align: top;text-align: right;}
.css_est_canton_label, .css_est_canton_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_canton_grid_line, .css_est_canton_grid_line:hover {vertical-align: top;text-align: right;}
.css_est_direccion_label, .css_est_direccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_direccion_grid_line, .css_est_direccion_grid_line:hover {vertical-align: top;text-align: right;}
.css_est_telefono_label, .css_est_telefono_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_telefono_grid_line, .css_est_telefono_grid_line:hover {vertical-align: top;text-align: right;}
.css_est_logo_label, .css_est_logo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_logo_grid_line, .css_est_logo_grid_line:hover {vertical-align: top;text-align: right;}
