.css_archivo_label { }
.css_archivo_line { }
.css_archivo_obj { }
.css_ubicacion_label { }
.css_ubicacion_line { }
.css_ubicacion_obj { }
.css_plantilla_label { }
.css_plantilla_line { }
.css_plantilla_obj { }
.css_escenario_label { }
.css_escenario_line { }
.css_escenario_obj {text-align:left;}
