.css_fp_id__label { }
.css_fp_id__line {text-align:left;}
.css_fp_id__obj {text-align:left;}
.css_fp_empresa__label { }
.css_fp_empresa__line { }
.css_fp_empresa__obj { }
.css_fp_descripcion__label { }
.css_fp_descripcion__line { }
.css_fp_descripcion__obj { }
.css_fp_sri__label { }
.css_fp_sri__line { }
.css_fp_sri__obj { }
.css_fp_estado__label { }
.css_fp_estado__line { }
.css_fp_estado__obj { }
.css_fp_tipo__label { }
.css_fp_tipo__line { }
.css_fp_tipo__obj { }
.css_fp_compra_venta__label { }
.css_fp_compra_venta__line { }
.css_fp_compra_venta__obj { }
.css_fp_tesoreria_debi__label { }
.css_fp_tesoreria_debi__line {text-align:left;}
.css_fp_tesoreria_debi__obj {text-align:left;}
.css_fp_producto_pago__label { }
.css_fp_producto_pago__line { }
.css_fp_producto_pago__obj { }
