.css_pt_id__label { }
.css_pt_id__line {text-align:left;}
.css_pt_id__obj {text-align:left;}
.css_pt_empresa__label { }
.css_pt_empresa__line { }
.css_pt_empresa__obj { }
.css_pt_transferencia__label { }
.css_pt_transferencia__line {text-align:left;}
.css_pt_transferencia__obj {text-align:left;}
.css_pt_bodegaorigen__label { }
.css_pt_bodegaorigen__line {text-align:left;}
.css_pt_bodegaorigen__obj {text-align:left;}
.css_pt_producto__label { }
.css_pt_producto__line { }
.css_pt_producto__obj { }
.css_pt_stock_origen__label { }
.css_pt_stock_origen__line {text-align:left;}
.css_pt_stock_origen__obj {text-align:left;}
.css_pt_stock_solicitado__label { }
.css_pt_stock_solicitado__line {text-align:left;}
.css_pt_stock_solicitado__obj {text-align:left;}
.css_pt_saldo_origen__label { }
.css_pt_saldo_origen__line {text-align:left;}
.css_pt_saldo_origen__obj {text-align:left;}
.css_pt_unidad__label { }
.css_pt_unidad__line { }
.css_pt_unidad__obj { }
.css_pt_bodegadestino__label { }
.css_pt_bodegadestino__line {text-align:left;}
.css_pt_bodegadestino__obj {text-align:left;}
.css_pt_cantidad_recibida__label { }
.css_pt_cantidad_recibida__line {text-align:left;}
.css_pt_cantidad_recibida__obj {text-align:left;}
.css_pt_recibe__label { }
.css_pt_recibe__line { }
.css_pt_recibe__obj { }
