.css_eq_factor__label { }
.css_eq_factor__line {text-align:left;}
.css_eq_factor__obj {text-align:left;}
.css_eq_id__label { }
.css_eq_id__line {text-align:left;}
.css_eq_id__obj {text-align:left;}
.css_eq_unidad_destino__label { }
.css_eq_unidad_destino__line {text-align:left;}
.css_eq_unidad_destino__obj {text-align:left;}
.css_eq_unidad_origen__label { }
.css_eq_unidad_origen__line {text-align:left;}
.css_eq_unidad_origen__obj {text-align:left;}
