.css_sm_id__label { }
.css_sm_id__line {text-align:left;}
.css_sm_id__obj {text-align:left;}
.css_sm_menu__label { }
.css_sm_menu__line {text-align:left;}
.css_sm_menu__obj {text-align:left;}
.css_sm_descripcion__label { }
.css_sm_descripcion__line { }
.css_sm_descripcion__obj { }
.css_aplicaciones__label { }
.css_aplicaciones__line { }
.css_aplicaciones__obj { }
