.css_opm_imagen_grid_line, .css_opm_imagen_grid_line:hover {vertical-align: middle;text-align: right;}
.css_opm_nombre_label, .css_opm_nombre_label:hover {text-align:left;}
.css_opm_nombre_grid_line, .css_opm_nombre_grid_line:hover {vertical-align: middle;}
.css_opm_enlace_label, .css_opm_enlace_label:hover {text-align:left;}
.css_opm_enlace_grid_line, .css_opm_enlace_grid_line:hover {vertical-align: middle;}
.css_opm_estado_label, .css_opm_estado_label:hover {text-align:left;}
.css_opm_estado_grid_line, .css_opm_estado_grid_line:hover {vertical-align: middle;}
