.css_pp_id__label { }
.css_pp_id__line {text-align:left;}
.css_pp_id__obj {text-align:left;}
.css_pp_promocion__label { }
.css_pp_promocion__line {text-align:left;}
.css_pp_promocion__obj {text-align:left;}
.css_pp_producto__label { }
.css_pp_producto__line { }
.css_pp_producto__obj { }
.css_pp_cantidad__label { }
.css_pp_cantidad__line {text-align:right;}
.css_pp_cantidad__obj {text-align:right;}
.css_pp_valor__label { }
.css_pp_valor__line {text-align:right;}
.css_pp_valor__obj {text-align:right;}
.css_pp_iva__label { }
.css_pp_iva__line {text-align:right;}
.css_pp_iva__obj {text-align:right;}
.css_pp_ice__label { }
.css_pp_ice__line {text-align:right;}
.css_pp_ice__obj {text-align:right;}
.css_pp_total__label { }
.css_pp_total__line {text-align:right;}
.css_pp_total__obj {text-align:right;}
.css_pp_estado__label { }
.css_pp_estado__line { }
.css_pp_estado__obj { }
.css_pp_tipo_comprobante__label { }
.css_pp_tipo_comprobante__line { }
.css_pp_tipo_comprobante__obj { }
