.css_aj_id_label { }
.css_aj_id_line {text-align:left;}
.css_aj_id_obj {text-align:left;}
.css_aj_empresa_label { }
.css_aj_empresa_line { }
.css_aj_empresa_obj { }
.css_aj_bodega_label { }
.css_aj_bodega_line {text-align:left;}
.css_aj_bodega_obj {text-align:left;}
.css_aj_tipo_ajuste_label { }
.css_aj_tipo_ajuste_line { }
.css_aj_tipo_ajuste_obj { }
.css_aj_fecha_label { }
.css_aj_fecha_line { }
.css_aj_fecha_obj { }
.css_aj_info_adicional_label { }
.css_aj_info_adicional_line { }
.css_aj_info_adicional_obj { }
.css_aj_usuario_label { }
.css_aj_usuario_line { }
.css_aj_usuario_obj { }
.css_aj_estado_label { }
.css_aj_estado_line { }
.css_aj_estado_obj { }
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
