.css_cl_id_label { }
.css_cl_id_line {text-align:left;}
.css_cl_id_obj {text-align:left;}
.css_cl_empresa_label { }
.css_cl_empresa_line { }
.css_cl_empresa_obj { }
.css_cl_nombre_label { }
.css_cl_nombre_line { }
.css_cl_nombre_obj {width:300px;}
.css_cl_tipo_identificacion_label { }
.css_cl_tipo_identificacion_line { }
.css_cl_tipo_identificacion_obj {width:150px;}
.css_cl_identificacion_label { }
.css_cl_identificacion_line { }
.css_cl_identificacion_obj {width:150px;}
.css_cl_pais_label { }
.css_cl_pais_line {text-align:left;}
.css_cl_pais_obj {text-align:left;width:150px;}
.css_cl_provincia_label { }
.css_cl_provincia_line {text-align:left;}
.css_cl_provincia_obj {text-align:left;width:150px;}
.css_cl_ciudad_label { }
.css_cl_ciudad_line {text-align:left;}
.css_cl_ciudad_obj {text-align:left;width:150px;}
.css_cl_direccion_label { }
.css_cl_direccion_line { }
.css_cl_direccion_obj {width:300px;}
.css_cl_telefono_label { }
.css_cl_telefono_line { }
.css_cl_telefono_obj {width:150px;}
.css_cl_celular_label { }
.css_cl_celular_line { }
.css_cl_celular_obj {width:150px;}
.css_cl_email_label { }
.css_cl_email_line { }
.css_cl_email_obj {width:300px;}
.css_cl_reteoncion_iva_label { }
.css_cl_reteoncion_iva_line { }
.css_cl_reteoncion_iva_obj { }
.css_cl_estado_label { }
.css_cl_estado_line { }
.css_cl_estado_obj { }
.css_cl_fecha_nacimientos_label { }
.css_cl_fecha_nacimientos_line { }
.css_cl_fecha_nacimientos_obj { }
