.css_bo_id_label { }
.css_bo_id_line {text-align:left;}
.css_bo_id_obj {text-align:left;}
.css_bo_empresa_label { }
.css_bo_empresa_line { }
.css_bo_empresa_obj { }
.css_bo_establecimiento_label { }
.css_bo_establecimiento_line {text-align:left;}
.css_bo_establecimiento_obj {text-align:left;}
.css_bo_nombre_label { }
.css_bo_nombre_line { }
.css_bo_nombre_obj { }
.css_bo_direccion_label { }
.css_bo_direccion_line { }
.css_bo_direccion_obj { }
.css_bo_responsable_label { }
.css_bo_responsable_line { }
.css_bo_responsable_obj { }
.css_bo_estado_label { }
.css_bo_estado_line { }
.css_bo_estado_obj { }
