.css_con_id__label { }
.css_con_id__line {text-align:left;}
.css_con_id__obj {text-align:left;}
.css_con_empresa__label { }
.css_con_empresa__line { }
.css_con_empresa__obj { }
.css_con_propietario__label { }
.css_con_propietario__line {text-align:left;}
.css_con_propietario__obj {text-align:left;}
.css_con_direccion_predio__label { }
.css_con_direccion_predio__line { }
.css_con_direccion_predio__obj { }
.css_con_tipo_servicio__label {text-align:;}
.css_con_tipo_servicio__line {text-align:left;}
.css_con_tipo_servicio__obj {text-align:left;}
.css_con_numero_medidor__label { }
.css_con_numero_medidor__line { }
.css_con_numero_medidor__obj { }
.css_con_estado__label { }
.css_con_estado__line { }
.css_con_estado__obj { }
.css_con_numero_contrato__label {text-align:;}
.css_con_numero_contrato__line {text-align:left;}
.css_con_numero_contrato__obj {text-align:left;}
.css_con_ruta__label { }
.css_con_ruta__line {text-align:left;}
.css_con_ruta__obj {text-align:left;}
.css_con_seleccionar__label { }
.css_con_seleccionar__line { }
.css_con_seleccionar__obj { }
