.css_aj_id_label, .css_aj_id_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aj_id_grid_line, .css_aj_id_grid_line:hover {vertical-align: middle;text-align: left;}
.css_aj_fecha_label, .css_aj_fecha_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aj_fecha_grid_line, .css_aj_fecha_grid_line:hover {vertical-align: middle;text-align: left;}
.css_aj_tipo_ajuste_label, .css_aj_tipo_ajuste_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aj_tipo_ajuste_grid_line, .css_aj_tipo_ajuste_grid_line:hover {vertical-align: middle;text-align: left;}
.css_aj_bodega_label, .css_aj_bodega_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aj_bodega_grid_line, .css_aj_bodega_grid_line:hover {vertical-align: middle;text-align: left;}
.css_aj_info_adicional_label, .css_aj_info_adicional_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aj_info_adicional_grid_line, .css_aj_info_adicional_grid_line:hover {vertical-align: middle;text-align: left;}
.css_aj_estado_label, .css_aj_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aj_estado_grid_line, .css_aj_estado_grid_line:hover {vertical-align: middle;text-align: left;}
