.css_stg_codigo_label { }
.css_stg_codigo_line { }
.css_stg_codigo_obj {width:300px;}
.css_stg_descripcion_label { }
.css_stg_descripcion_line { }
.css_stg_descripcion_obj {width:300px;}
.css_stg_estado_label { }
.css_stg_estado_line { }
.css_stg_estado_obj {width:320px;}
.css_tipos_documentos_label { }
.css_tipos_documentos_line { }
.css_tipos_documentos_obj { }
