.css_sdd_estado_label { }
.css_sdd_estado_line { }
.css_sdd_estado_obj { }
.css_sdd_fecha_label { }
.css_sdd_fecha_line { }
.css_sdd_fecha_obj { }
.css_sdd_id_label { }
.css_sdd_id_line {text-align:left;}
.css_sdd_id_obj {text-align:left;}
.css_sdd_ip_label { }
.css_sdd_ip_line { }
.css_sdd_ip_obj { }
.css_sdd_monto_label { }
.css_sdd_monto_line {text-align:left;}
.css_sdd_monto_obj {text-align:left;}
.css_sdd_plazo_label { }
.css_sdd_plazo_line {text-align:left;}
.css_sdd_plazo_obj {text-align:left;}
.css_sdd_propietario_label { }
.css_sdd_propietario_line {text-align:left;}
.css_sdd_propietario_obj {text-align:left;}
.css_sdd_usuario_label { }
.css_sdd_usuario_line { }
.css_sdd_usuario_obj { }
.css_sdd_secuencial_documento_label { }
.css_sdd_secuencial_documento_line {text-align:left;}
.css_sdd_secuencial_documento_obj {text-align:left;}
.css_sdd_empresa_label { }
.css_sdd_empresa_line { }
.css_sdd_empresa_obj { }
.css_cuotas_label { }
.css_cuotas_line { }
.css_cuotas_obj { }
.css_operaciones_label { }
.css_operaciones_line { }
.css_operaciones_obj { }
