.css_gpv_id__label { }
.css_gpv_id__line { }
.css_gpv_id__obj {width:120px;}
.css_gpv_empresa__label { }
.css_gpv_empresa__line { }
.css_gpv_empresa__obj { }
.css_gpv_impuesto__label { }
.css_gpv_impuesto__line {text-align:left;}
.css_gpv_impuesto__obj {text-align:left;width:320px;}
