.css_pro_codigo_label { }
.css_pro_codigo_line { }
.css_pro_codigo_obj { }
.css_pro_codigo_secundario_label { }
.css_pro_codigo_secundario_line { }
.css_pro_codigo_secundario_obj { }
.css_pro_imagen_label { }
.css_pro_imagen_line { }
.css_pro_imagen_obj { }
.css_pro_nombre_label { }
.css_pro_nombre_line { }
.css_pro_nombre_obj { }
.css_pro_precio_uni_label { }
.css_pro_precio_uni_line {text-align:left;}
.css_pro_precio_uni_obj {text-align:left;}
.css_pro_iva_label { }
.css_pro_iva_line { }
.css_pro_iva_obj {width:120px;}
.css_pro_por_iva_label { }
.css_pro_por_iva_line {text-align:left;}
.css_pro_por_iva_obj {text-align:left;width:250px;}
.css_pro_ice_label { }
.css_pro_ice_line { }
.css_pro_ice_obj {width:120px;}
.css_pro_por_ice_label { }
.css_pro_por_ice_line {text-align:left;}
.css_pro_por_ice_obj {text-align:left;width:250px;}
.css_pro_estado_label { }
.css_pro_estado_line { }
.css_pro_estado_obj { }
.css_pro_tipo_comprobante_label { }
.css_pro_tipo_comprobante_line { }
.css_pro_tipo_comprobante_obj { }
