.css_cl_nombre_label { }
.css_cl_nombre_line { }
.css_cl_nombre_obj { }
.css_cl_identificacion_label { }
.css_cl_identificacion_line { }
.css_cl_identificacion_obj { }
.css_cl_direccion_label { }
.css_cl_direccion_line { }
.css_cl_direccion_obj { }
.css_cl_telefono_label { }
.css_cl_telefono_line { }
.css_cl_telefono_obj { }
.css_cl_email_label { }
.css_cl_email_line { }
.css_cl_email_obj { }
.css_libretin_label { }
.css_libretin_line { }
.css_libretin_obj { }
.css_forma_pago_label { }
.css_forma_pago_line { }
.css_forma_pago_obj { }
.css_documento_label { }
.css_documento_line { }
.css_documento_obj { }
.css_valor_pago_label {background-color:#00FF00;font-weight:bold;}
.css_valor_pago_line {background-color:#00FF00;}
.css_valor_pago_obj {font-size:14px;font-weight:bold;}
.css_titulo_label {font-size:14px;}
.css_titulo_line {font-size:14px;color:#FFFFFF;background-color:#0033FF;font-weight:bold;text-align:center;}
.css_titulo_obj {font-size:14px;color:#FFFFFF;background-color:#0033FF;font-weight:bold;border-width:2px;text-align:center;}
.css_mensaje_label {font-size:14px;color:#FFFFFF;background-color:#FF0033;font-weight:bold;text-align:center;}
.css_mensaje_line {font-size:14px;color:#FFFFFF;background-color:#FF0033;font-weight:bold;text-align:center;}
.css_mensaje_obj {font-size:14px;color:#FFFFFF;background-color:#FF0033;font-weight:bold;text-align:center;}
