.css_pr_id_label { }
.css_pr_id_line {text-align:left;}
.css_pr_id_obj {text-align:left;}
.css_pr_nombre_label { }
.css_pr_nombre_line { }
.css_pr_nombre_obj { }
.css_pr_descripcion_label { }
.css_pr_descripcion_line { }
.css_pr_descripcion_obj { }
.css_pr_valor_label { }
.css_pr_valor_line {text-align:left;}
.css_pr_valor_obj {text-align:left;}
.css_pr_iva_label { }
.css_pr_iva_line {text-align:left;}
.css_pr_iva_obj {text-align:left;}
.css_pr_ice_label { }
.css_pr_ice_line {text-align:left;}
.css_pr_ice_obj {text-align:left;}
.css_pr_estado_label { }
.css_pr_estado_line { }
.css_pr_estado_obj { }
.css_pr_total_label { }
.css_pr_total_line { }
.css_pr_total_obj { }
.css_pr_imagen_label { }
.css_pr_imagen_line { }
.css_pr_imagen_obj { }
.css_pr_grupo_label { }
.css_pr_grupo_line { }
.css_pr_grupo_obj { }
.css_detalles_label { }
.css_detalles_line { }
.css_detalles_obj { }
