.css_emp_ruc_label { }
.css_emp_ruc_line { }
.css_emp_ruc_obj { }
.css_emp_razon_social_label { }
.css_emp_razon_social_line { }
.css_emp_razon_social_obj { }
.css_emp_nombre_comercial_label { }
.css_emp_nombre_comercial_line { }
.css_emp_nombre_comercial_obj { }
.css_emp_logo_label { }
.css_emp_logo_line { }
.css_emp_logo_obj { }
.css_emp_firma_label { }
.css_emp_firma_line { }
.css_emp_firma_obj { }
.css_emp_clave_firma_label { }
.css_emp_clave_firma_line { }
.css_emp_clave_firma_obj { }
.css_emp_obligado_label { }
.css_emp_obligado_line { }
.css_emp_obligado_obj { }
.css_emp_contribuyente_especial_label { }
.css_emp_contribuyente_especial_line { }
.css_emp_contribuyente_especial_obj { }
.css_emp_estado_label { }
.css_emp_estado_line { }
.css_emp_estado_obj { }
.css_emp_email_label { }
.css_emp_email_line { }
.css_emp_email_obj { }
.css_emp_ambiente_sri_label { }
.css_emp_ambiente_sri_line {text-align:left;}
.css_emp_ambiente_sri_obj {text-align:left;}
.css_emp_direccion_matriz_label { }
.css_emp_direccion_matriz_line { }
.css_emp_direccion_matriz_obj { }
.css_emp_autorizacion_inmediata_label { }
.css_emp_autorizacion_inmediata_line { }
.css_emp_autorizacion_inmediata_obj { }
.css_emp_es_op_transporte_label { }
.css_emp_es_op_transporte_line { }
.css_emp_es_op_transporte_obj { }
.css_emp_agente_retencion_label { }
.css_emp_agente_retencion_line { }
.css_emp_agente_retencion_obj { }
.css_emp_representante_legal_label { }
.css_emp_representante_legal_line { }
.css_emp_representante_legal_obj { }
.css_emp_telefono_label { }
.css_emp_telefono_line { }
.css_emp_telefono_obj { }
.css_emp_calificacion_artesanal_label { }
.css_emp_calificacion_artesanal_line { }
.css_emp_calificacion_artesanal_obj { }
.css_escontribuyenteespecial_label { }
.css_escontribuyenteespecial_line { }
.css_escontribuyenteespecial_obj { }
.css_esartesanocalificado_label { }
.css_esartesanocalificado_line { }
.css_esartesanocalificado_obj { }
.css_es_profesionalsalud_label { }
.css_es_profesionalsalud_line { }
.css_es_profesionalsalud_obj { }
.css_emp_id_representante_label { }
.css_emp_id_representante_line { }
.css_emp_id_representante_obj { }
.css_emp_socio_transportista_label { }
.css_emp_socio_transportista_line { }
.css_emp_socio_transportista_obj { }
.css_emp_codigo_empresa_debi_label { }
.css_emp_codigo_empresa_debi_line {text-align:left;}
.css_emp_codigo_empresa_debi_obj {text-align:left;}
