.css_usu_usuario_fil_obj, .css_usu_usuario_fil_obj:hover {width:200px;}
.css_usu_nombre_fil_obj, .css_usu_nombre_fil_obj:hover {width:200px;}
.css_usu_cedula_fil_obj, .css_usu_cedula_fil_obj:hover {width:200px;}
.css_usu_email_fil_obj, .css_usu_email_fil_obj:hover {width:200px;}
