.css_cgc_id__label { }
.css_cgc_id__line {text-align:left;}
.css_cgc_id__obj {text-align:left;}
.css_cgc_descripcion__label { }
.css_cgc_descripcion__line { }
.css_cgc_descripcion__obj { }
.css_cgc_estado__label { }
.css_cgc_estado__line { }
.css_cgc_estado__obj { }
.css_cgc_impuesto__label { }
.css_cgc_impuesto__line {text-align:left;}
.css_cgc_impuesto__obj {text-align:left;}
