.css_pro_codigo_grid_line, .css_pro_codigo_grid_line:hover {vertical-align: middle;text-align: right;}
.css_pro_descripcion_grid_line, .css_pro_descripcion_grid_line:hover {vertical-align: middle;text-align: right;}
.css_pro_imagen_grid_line, .css_pro_imagen_grid_line:hover {vertical-align: middle;text-align: right;}
.css_precio_grid_line, .css_precio_grid_line:hover {font-size:16px;font-weight:bold;vertical-align: middle;text-align: right;}
