.css_lib_id__label { }
.css_lib_id__line {text-align:left;}
.css_lib_id__obj {text-align:left;}
.css_lib_punto_emision__label { }
.css_lib_punto_emision__line {text-align:left;}
.css_lib_punto_emision__obj {text-align:left;width:200px;}
.css_lib_tipo_comprobante__label { }
.css_lib_tipo_comprobante__line {text-align:left;}
.css_lib_tipo_comprobante__obj {text-align:left;width:200px;}
.css_lib_secuencial__label { }
.css_lib_secuencial__line {text-align:left;}
.css_lib_secuencial__obj {text-align:left;width:200px;}
.css_lib_disponibles__label { }
.css_lib_disponibles__line {text-align:left;}
.css_lib_disponibles__obj {text-align:left;width:200px;}
.css_lib_estado__label { }
.css_lib_estado__line { }
.css_lib_estado__obj {width:200px;}
.css_lib_tipo_libretin__label { }
.css_lib_tipo_libretin__line {text-align:left;}
.css_lib_tipo_libretin__obj {text-align:left;width:200px;}
.css_lib_utilizados__label { }
.css_lib_utilizados__line {text-align:left;}
.css_lib_utilizados__obj {text-align:left;width:200px;}
.css_lib_desde__label { }
.css_lib_desde__line {text-align:left;}
.css_lib_desde__obj {text-align:left;width:200px;}
.css_lib_hasta__label { }
.css_lib_hasta__line {text-align:left;}
.css_lib_hasta__obj {text-align:left;width:200px;}
.css_lib_autorizacion__label { }
.css_lib_autorizacion__line { }
.css_lib_autorizacion__obj {width:200px;}
.css_lib_fecha_caducidad__label { }
.css_lib_fecha_caducidad__line { }
.css_lib_fecha_caducidad__obj {width:200px;}
