.css_oa_id__label {text-align:;}
.css_oa_id__line {text-align:left;}
.css_oa_id__obj {text-align:left;}
.css_oa_solicitud__label { }
.css_oa_solicitud__line {text-align:left;}
.css_oa_solicitud__obj {text-align:left;}
.css_oa_operacion__label {text-align:;}
.css_oa_operacion__line {text-align:left;}
.css_oa_operacion__obj {text-align:left;}
.css_oa_tipo_cartera__label { }
.css_oa_tipo_cartera__line { }
.css_oa_tipo_cartera__obj { }
.css_oa_comentario__label { }
.css_oa_comentario__line { }
.css_oa_comentario__obj { }
.css_oa_referencia__label { }
.css_oa_referencia__line { }
.css_oa_referencia__obj { }
.css_oa_saldo__label { }
.css_oa_saldo__line {text-align:right;}
.css_oa_saldo__obj {text-align:right;}
.css_oa_estado__label { }
.css_oa_estado__line { }
.css_oa_estado__obj { }
