.css_prof_code_order_label { }
.css_prof_code_order_line {text-align:left;}
.css_prof_code_order_obj {text-align:left;}
.css_prof_establecimiento_label { }
.css_prof_establecimiento_line { }
.css_prof_establecimiento_obj { }
.css_prof_fecha_label { }
.css_prof_fecha_line { }
.css_prof_fecha_obj { }
.css_prof_numero_label { }
.css_prof_numero_line {text-align:left;}
.css_prof_numero_obj {text-align:left;}
.css_prof_secuencial_label { }
.css_prof_secuencial_line {text-align:left;}
.css_prof_secuencial_obj {text-align:left;}
.css_prof_tipo_entrega_label { }
.css_prof_tipo_entrega_line { }
.css_prof_tipo_entrega_obj { }
.css_secuencial_label { }
.css_secuencial_line { }
.css_secuencial_obj { }
.css_titulo_label {font-size:14px;}
.css_titulo_line {font-size:14px;color:#FFFFFF;background-color:#0033FF;font-weight:bold;text-align:center;}
.css_titulo_obj {font-size:14px;color:#FFFFFF;background-color:#0033FF;font-weight:bold;border-width:2px;text-align:center;border-style:solid;}
.css_detalles_label { }
.css_detalles_line { }
.css_detalles_obj { }
