.css_emp_ruc_label { }
.css_emp_ruc_line { }
.css_emp_ruc_obj { }
.css_emp_razon_social_label { }
.css_emp_razon_social_line { }
.css_emp_razon_social_obj { }
.css_emp_nombre_comercial_label { }
.css_emp_nombre_comercial_line { }
.css_emp_nombre_comercial_obj { }
.css_emp_obligado_label { }
.css_emp_obligado_line { }
.css_emp_obligado_obj {width:160px;}
.css_emp_contribuyente_especial_label { }
.css_emp_contribuyente_especial_line { }
.css_emp_contribuyente_especial_obj { }
.css_emp_email_label { }
.css_emp_email_line { }
.css_emp_email_obj { }
.css_emp_ambiente_sri_label { }
.css_emp_ambiente_sri_line {text-align:left;}
.css_emp_ambiente_sri_obj {text-align:left;}
.css_emp_comisionista_label { }
.css_emp_comisionista_line { }
.css_emp_comisionista_obj { }
.css_emp_clave_reingreso_label { }
.css_emp_clave_reingreso_line { }
.css_emp_clave_reingreso_obj { }
.css_mensaje_label { }
.css_mensaje_line { }
.css_mensaje_obj { }
.css_emp_clave_label { }
.css_emp_clave_line { }
.css_emp_clave_obj { }
