.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_nc_subtotal_sum_label, .css_nc_subtotal_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_subtotal_sum_field, .css_nc_subtotal_sum_field:hover {text-align: right; vertical-align: top}
.css_nc_subtotal_iva_sum_label, .css_nc_subtotal_iva_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_subtotal_iva_sum_field, .css_nc_subtotal_iva_sum_field:hover {text-align: right; vertical-align: top}
.css_nc_subtotal_cero_sum_label, .css_nc_subtotal_cero_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_subtotal_cero_sum_field, .css_nc_subtotal_cero_sum_field:hover {text-align: right; vertical-align: top}
.css_nc_subtotal_no_objeto_sum_label, .css_nc_subtotal_no_objeto_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_subtotal_no_objeto_sum_field, .css_nc_subtotal_no_objeto_sum_field:hover {text-align: right; vertical-align: top}
.css_nc_subtotal_excento_sum_label, .css_nc_subtotal_excento_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_subtotal_excento_sum_field, .css_nc_subtotal_excento_sum_field:hover {text-align: right; vertical-align: top}
.css_nc_total_descuento_sum_label, .css_nc_total_descuento_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_total_descuento_sum_field, .css_nc_total_descuento_sum_field:hover {text-align: right; vertical-align: top}
.css_nc_valor_ice_sum_label, .css_nc_valor_ice_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_valor_ice_sum_field, .css_nc_valor_ice_sum_field:hover {text-align: right; vertical-align: top}
.css_nc_valor_iva_sum_label, .css_nc_valor_iva_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_valor_iva_sum_field, .css_nc_valor_iva_sum_field:hover {text-align: right; vertical-align: top}
.css_nc_valor_irbpnr_sum_label, .css_nc_valor_irbpnr_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_valor_irbpnr_sum_field, .css_nc_valor_irbpnr_sum_field:hover {text-align: right; vertical-align: top}
.css_nc_total_sum_label, .css_nc_total_sum_label:hover {text-align: right; vertical-align: top}
.css_nc_total_sum_field, .css_nc_total_sum_field:hover {text-align: right; vertical-align: top}
