.css_esc_tipo_deuda_label, .css_esc_tipo_deuda_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_esc_tipo_deuda_grid_line, .css_esc_tipo_deuda_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_identificacion_label, .css_cl_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_identificacion_grid_line, .css_cl_identificacion_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_nombre_label, .css_cl_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_nombre_grid_line, .css_cl_nombre_grid_line:hover {vertical-align: middle;text-align: right;}
.css_esc_anio_periodo_label, .css_esc_anio_periodo_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_esc_anio_periodo_grid_line, .css_esc_anio_periodo_grid_line:hover {vertical-align: middle;text-align: right;}
.css_esc_mes_periodo_label, .css_esc_mes_periodo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_mes_periodo_grid_line, .css_esc_mes_periodo_grid_line:hover {vertical-align: middle;text-align: right;}
.css_con_numero_contrato_label, .css_con_numero_contrato_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_con_numero_contrato_grid_line, .css_con_numero_contrato_grid_line:hover {vertical-align: middle;text-align: right;}
.css_des_consumo_label, .css_des_consumo_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_des_consumo_grid_line, .css_des_consumo_grid_line:hover {vertical-align: middle;text-align: right;}
.css_des_consumo_tot_ger, .css_des_consumo_tot_ger:hover {text-align: ;text-align: right;}
.css_dde_producto_label, .css_dde_producto_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dde_producto_grid_line, .css_dde_producto_grid_line:hover {vertical-align: middle;text-align: right;}
.css_dde_total_label, .css_dde_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_dde_total_grid_line, .css_dde_total_grid_line:hover {vertical-align: middle;text-align: right;}
.css_dde_total_tot_ger, .css_dde_total_tot_ger:hover {text-align: ;text-align: right;}
.css_op_estado_label, .css_op_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_op_estado_grid_line, .css_op_estado_grid_line:hover {vertical-align: middle;text-align: right;}
.css_esc_fecha_label, .css_esc_fecha_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_fecha_grid_line, .css_esc_fecha_grid_line:hover {vertical-align: middle;text-align: right;}
.css_des_ruta_label, .css_des_ruta_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_des_ruta_grid_line, .css_des_ruta_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_telefono_label, .css_cl_telefono_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_telefono_grid_line, .css_cl_telefono_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_celular_label, .css_cl_celular_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_celular_grid_line, .css_cl_celular_grid_line:hover {vertical-align: middle;text-align: right;}
.css_cl_email_label, .css_cl_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_email_grid_line, .css_cl_email_grid_line:hover {vertical-align: middle;text-align: right;}
.css_con_direccion_predio_label, .css_con_direccion_predio_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_con_direccion_predio_grid_line, .css_con_direccion_predio_grid_line:hover {vertical-align: middle;text-align: right;}
.css_con_tipo_servicio_label, .css_con_tipo_servicio_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_con_tipo_servicio_grid_line, .css_con_tipo_servicio_grid_line:hover {vertical-align: middle;text-align: right;}
.css_con_condicion_contrato_label, .css_con_condicion_contrato_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_con_condicion_contrato_grid_line, .css_con_condicion_contrato_grid_line:hover {vertical-align: middle;text-align: right;}
.css_des_numero_medidor_label, .css_des_numero_medidor_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_des_numero_medidor_grid_line, .css_des_numero_medidor_grid_line:hover {vertical-align: middle;text-align: right;}
.css_des_consumo_S_sub_tot, .css_des_consumo_S_sub_tot:hover {text-align: right;text-align: right;}
.css_des_consumo_S_tot_ger, .css_des_consumo_S_tot_ger:hover {text-align: right;}
.css_dde_total_S_sub_tot, .css_dde_total_S_sub_tot:hover {text-align: right;text-align: right;}
.css_dde_total_S_tot_ger, .css_dde_total_S_tot_ger:hover {text-align: right;}
