.css_sf_comisionista_label, .css_sf_comisionista_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_comisionista_grid_line, .css_sf_comisionista_grid_line:hover {vertical-align: middle;text-align: right;}
.css_sf_tipo_firma_label, .css_sf_tipo_firma_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_tipo_firma_grid_line, .css_sf_tipo_firma_grid_line:hover {vertical-align: middle;text-align: right;}
.css_sf_duracion_label, .css_sf_duracion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_duracion_grid_line, .css_sf_duracion_grid_line:hover {vertical-align: top;text-align: right;}
.css_sf_identificacion_label, .css_sf_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_identificacion_grid_line, .css_sf_identificacion_grid_line:hover {vertical-align: middle;text-align: right;}
.css_sf_nombre_label, .css_sf_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_nombre_grid_line, .css_sf_nombre_grid_line:hover {vertical-align: middle;text-align: right;}
.css_sf_direcccion_label, .css_sf_direcccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_direcccion_grid_line, .css_sf_direcccion_grid_line:hover {vertical-align: middle;text-align: right;}
.css_sf_telefono_label, .css_sf_telefono_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_telefono_grid_line, .css_sf_telefono_grid_line:hover {vertical-align: middle;text-align: right;}
.css_sf_email_label, .css_sf_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_email_grid_line, .css_sf_email_grid_line:hover {vertical-align: middle;text-align: right;}
.css_sf_estado_label, .css_sf_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_estado_grid_line, .css_sf_estado_grid_line:hover {vertical-align: middle;text-align: right;}
.css_sf_id_label, .css_sf_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sf_id_grid_line, .css_sf_id_grid_line:hover {vertical-align: middle;text-align: right;}
.css_sf_tipo_identificacion_label, .css_sf_tipo_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sf_tipo_identificacion_grid_line, .css_sf_tipo_identificacion_grid_line:hover {vertical-align: middle;text-align: right;}
