.css_esc_id_label, .css_esc_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_esc_id_grid_line, .css_esc_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_esc_tipo_deuda_label, .css_esc_tipo_deuda_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_tipo_deuda_grid_line, .css_esc_tipo_deuda_grid_line:hover {vertical-align: top;text-align: left;}
.css_esc_mes_periodo_label, .css_esc_mes_periodo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_mes_periodo_grid_line, .css_esc_mes_periodo_grid_line:hover {vertical-align: top;text-align: left;}
.css_esc_anio_periodo_label, .css_esc_anio_periodo_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_esc_anio_periodo_grid_line, .css_esc_anio_periodo_grid_line:hover {vertical-align: top;text-align: right;}
.css_esc_total_label, .css_esc_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_esc_total_grid_line, .css_esc_total_grid_line:hover {vertical-align: top;text-align: right;}
.css_esc_estado_label, .css_esc_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_estado_grid_line, .css_esc_estado_grid_line:hover {vertical-align: top;text-align: left;}
.css_esc_ruta_label, .css_esc_ruta_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_esc_ruta_grid_line, .css_esc_ruta_grid_line:hover {vertical-align: top;text-align: left;}
