.css_pw_empresa_label { }
.css_pw_empresa_line { }
.css_pw_empresa_obj { }
.css_pw_id_label { }
.css_pw_id_line {text-align:left;}
.css_pw_id_obj {text-align:left;}
.css_pw_sku_label { }
.css_pw_sku_line { }
.css_pw_sku_obj { }
.css_pw_producto_debi_label { }
.css_pw_producto_debi_line { }
.css_pw_producto_debi_obj { }
.css_pw_tipo_label { }
.css_pw_tipo_line { }
.css_pw_tipo_obj { }
.css_pw_descripcion_label { }
.css_pw_descripcion_line { }
.css_pw_descripcion_obj { }
.css_pw_descripcion_corta_label { }
.css_pw_descripcion_corta_line { }
.css_pw_descripcion_corta_obj { }
.css_pw_precio_regular_label { }
.css_pw_precio_regular_line {text-align:left;}
.css_pw_precio_regular_obj {text-align:left;}
.css_pw_estado_impuestos_label { }
.css_pw_estado_impuestos_line { }
.css_pw_estado_impuestos_obj { }
.css_pw_maneja_stock_label { }
.css_pw_maneja_stock_line { }
.css_pw_maneja_stock_obj { }
.css_pw_cantidad_stock_label { }
.css_pw_cantidad_stock_line {text-align:left;}
.css_pw_cantidad_stock_obj {text-align:left;}
.css_pw_estado_label { }
.css_pw_estado_line { }
.css_pw_estado_obj { }
.css_pw_categoria_label { }
.css_pw_categoria_line {text-align:left;}
.css_pw_categoria_obj {text-align:left;}
