.css_mensaje_label { }
.css_mensaje_line { }
.css_mensaje_obj { }
.css_secuencial_label { }
.css_secuencial_line { }
.css_secuencial_obj {text-align:right;width:120px;}
.css_desde_label { }
.css_desde_line { }
.css_desde_obj {text-align:right;width:120px;}
.css_hasta_label { }
.css_hasta_line { }
.css_hasta_obj {text-align:right;width:120px;}
.css_id_label { }
.css_id_line { }
.css_id_obj { }
.css_cantidad_label { }
.css_cantidad_line { }
.css_cantidad_obj {text-align:right;width:120px;}
