.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_do_subtotal_sum_label, .css_do_subtotal_sum_label:hover {text-align: right; vertical-align: top}
.css_do_subtotal_sum_field, .css_do_subtotal_sum_field:hover {text-align: right; vertical-align: top}
.css_do_valor_iva_sum_label, .css_do_valor_iva_sum_label:hover {text-align: right; vertical-align: top}
.css_do_valor_iva_sum_field, .css_do_valor_iva_sum_field:hover {text-align: right; vertical-align: top}
.css_do_total_sum_label, .css_do_total_sum_label:hover {text-align: right; vertical-align: top}
.css_do_total_sum_field, .css_do_total_sum_field:hover {text-align: right; vertical-align: top}
