.css_oc_id__label { }
.css_oc_id__line { }
.css_oc_id__obj { }
.css_oc_comentario__label { }
.css_oc_comentario__line { }
.css_oc_comentario__obj { }
.css_oc_estado__label { }
.css_oc_estado__line { }
.css_oc_estado__obj { }
.css_oc_operacion__label { }
.css_oc_operacion__line {text-align:left;}
.css_oc_operacion__obj {text-align:left;}
.css_oc_referencia__label { }
.css_oc_referencia__line { }
.css_oc_referencia__obj { }
.css_oc_saldo__label { }
.css_oc_saldo__line {text-align:right;}
.css_oc_saldo__obj {text-align:right;}
.css_oc_solicitud__label { }
.css_oc_solicitud__line {text-align:left;}
.css_oc_solicitud__obj {text-align:left;}
.css_oc_tipo_cartera__label { }
.css_oc_tipo_cartera__line { }
.css_oc_tipo_cartera__obj { }
