.css_esc_id_label {text-align:;}
.css_esc_id_line {text-align:left;}
.css_esc_id_obj {text-align:left;}
.css_esc_tipo_deuda_label { }
.css_esc_tipo_deuda_line {text-align:left;}
.css_esc_tipo_deuda_obj {text-align:left;}
.css_esc_mes_periodo_label { }
.css_esc_mes_periodo_line { }
.css_esc_mes_periodo_obj { }
.css_esc_anio_periodo_label { }
.css_esc_anio_periodo_line {text-align:left;}
.css_esc_anio_periodo_obj {text-align:left;}
.css_esc_total_label { }
.css_esc_total_line {text-align:left;}
.css_esc_total_obj {text-align:left;}
.css_esc_estado_label { }
.css_esc_estado_line { }
.css_esc_estado_obj { }
.css_esc_comentario_label { }
.css_esc_comentario_line { }
.css_esc_comentario_obj { }
.css_detalles_label { }
.css_detalles_line { }
.css_detalles_obj { }
