.css_pa_id__label { }
.css_pa_id__line {text-align:left;}
.css_pa_id__obj {text-align:left;}
.css_pa_ajuste__label { }
.css_pa_ajuste__line {text-align:left;}
.css_pa_ajuste__obj {text-align:left;}
.css_pa_producto__label { }
.css_pa_producto__line { }
.css_pa_producto__obj { }
.css_pa_unidad_kardex__label { }
.css_pa_unidad_kardex__line {text-align:left;}
.css_pa_unidad_kardex__obj {text-align:left;}
.css_pa_tipo_unidad__label { }
.css_pa_tipo_unidad__line { }
.css_pa_tipo_unidad__obj { }
.css_pa_stock_actual__label { }
.css_pa_stock_actual__line {text-align:right;}
.css_pa_stock_actual__obj {text-align:right;}
.css_pa_cantidad__label { }
.css_pa_cantidad__line {text-align:right;}
.css_pa_cantidad__obj {text-align:right;}
.css_pa_unidad__label { }
.css_pa_unidad__line { }
.css_pa_unidad__obj { }
.css_pa_costo__label { }
.css_pa_costo__line {text-align:right;}
.css_pa_costo__obj {text-align:right;}
.css_pa_total_gasto__label { }
.css_pa_total_gasto__line {text-align:right;}
.css_pa_total_gasto__obj {text-align:right;}
.css_pa_cantidad_kardex__label { }
.css_pa_cantidad_kardex__line {text-align:left;}
.css_pa_cantidad_kardex__obj {text-align:left;}
.css_pa_costo_kardex__label { }
.css_pa_costo_kardex__line {text-align:left;}
.css_pa_costo_kardex__obj {text-align:left;}
.css_pa_total_kardex__label { }
.css_pa_total_kardex__line {text-align:left;}
.css_pa_total_kardex__obj {text-align:left;}
