.css_df_id__label { }
.css_df_id__line {text-align:left;}
.css_df_id__obj {text-align:left;}
.css_df_factura_multiple__label { }
.css_df_factura_multiple__line {text-align:left;}
.css_df_factura_multiple__obj {text-align:left;}
.css_df_producto__label { }
.css_df_producto__line { }
.css_df_producto__obj {width:200px;}
.css_df_descripcion__label { }
.css_df_descripcion__line { }
.css_df_descripcion__obj {width:80px;}
.css_df_cantidad__label { }
.css_df_cantidad__line { }
.css_df_cantidad__obj {text-align:right;width:70px;}
.css_df_precio_unitario__label { }
.css_df_precio_unitario__line {text-align:left;}
.css_df_precio_unitario__obj {text-align:right;width:70px;}
.css_df_subtotal__label { }
.css_df_subtotal__line {text-align:left;}
.css_df_subtotal__obj {text-align:right;width:70px;}
.css_df_descuento__label { }
.css_df_descuento__line {text-align:left;}
.css_df_descuento__obj {text-align:right;width:70px;}
.css_df_base_iva__label { }
.css_df_base_iva__line {text-align:left;}
.css_df_base_iva__obj {text-align:right;width:70px;}
.css_df_porcentaje_iva__label { }
.css_df_porcentaje_iva__line {text-align:left;}
.css_df_porcentaje_iva__obj {text-align:right;width:70px;}
.css_df_valor_iva__label { }
.css_df_valor_iva__line {text-align:left;}
.css_df_valor_iva__obj {text-align:right;width:70px;}
.css_df_base_ice__label { }
.css_df_base_ice__line {text-align:left;}
.css_df_base_ice__obj {text-align:right;width:70px;}
.css_df_porcentaje_ice__label { }
.css_df_porcentaje_ice__line {text-align:left;}
.css_df_porcentaje_ice__obj {text-align:right;width:70px;}
.css_df_valor_ice__label { }
.css_df_valor_ice__line {text-align:left;}
.css_df_valor_ice__obj {text-align:right;width:70px;}
.css_df_base_irbpnr__label { }
.css_df_base_irbpnr__line {text-align:left;}
.css_df_base_irbpnr__obj {text-align:right;width:70px;}
.css_df_porcentaje_irbpnr__label { }
.css_df_porcentaje_irbpnr__line {text-align:left;}
.css_df_porcentaje_irbpnr__obj {text-align:right;width:70px;}
.css_df_valor_irbpnr__label { }
.css_df_valor_irbpnr__line {text-align:left;}
.css_df_valor_irbpnr__obj {text-align:right;width:70px;}
.css_df_total__label { }
.css_df_total__line {text-align:left;}
.css_df_total__obj {text-align:right;width:70px;}
.css_df_precio_sin_subsidio__label { }
.css_df_precio_sin_subsidio__line {text-align:left;}
.css_df_precio_sin_subsidio__obj {text-align:left;}
