.css_nd_fecha_label, .css_nd_fecha_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nd_fecha_grid_line, .css_nd_fecha_grid_line:hover {vertical-align: middle;text-align: left;}
.css_sc_field_0_label, .css_sc_field_0_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line, .css_sc_field_0_grid_line:hover {vertical-align: middle;text-align: left;}
.css_sc_field_1_label, .css_sc_field_1_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line, .css_sc_field_1_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_nombre_label, .css_cl_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_nombre_grid_line, .css_cl_nombre_grid_line:hover {vertical-align: top;text-align: left;}
.css_cl_identificacion_label, .css_cl_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_identificacion_grid_line, .css_cl_identificacion_grid_line:hover {vertical-align: top;text-align: left;}
.css_nd_total_label, .css_nd_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nd_total_grid_line, .css_nd_total_grid_line:hover {vertical-align: middle;text-align: right;}
.css_nd_estado_sri_label, .css_nd_estado_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nd_estado_sri_grid_line, .css_nd_estado_sri_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_direccion_label, .css_cl_direccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_direccion_grid_line, .css_cl_direccion_grid_line:hover {vertical-align: top;text-align: left;}
.css_nd_autorizacion_label, .css_nd_autorizacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nd_autorizacion_grid_line, .css_nd_autorizacion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_nd_error_sri_label, .css_nd_error_sri_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nd_error_sri_grid_line, .css_nd_error_sri_grid_line:hover {vertical-align: middle;text-align: left;}
.css_nd_numero_label, .css_nd_numero_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nd_numero_grid_line, .css_nd_numero_grid_line:hover {vertical-align: middle;text-align: right;}
