.css_gpc_id__label { }
.css_gpc_id__line { }
.css_gpc_id__obj {width:120px;}
.css_gpc_empresa__label { }
.css_gpc_empresa__line { }
.css_gpc_empresa__obj { }
.css_gpc_impuesto__label { }
.css_gpc_impuesto__line {text-align:left;}
.css_gpc_impuesto__obj {text-align:left;width:320px;}
