.css_tr_bodega_destino_label { }
.css_tr_bodega_destino_line {text-align:left;}
.css_tr_bodega_destino_obj {text-align:left;width:160px;}
.css_tr_bodega_origen_label { }
.css_tr_bodega_origen_line {text-align:left;}
.css_tr_bodega_origen_obj {text-align:left;width:160px;}
.css_tr_estado_label { }
.css_tr_estado_line { }
.css_tr_estado_obj { }
.css_tr_fecha_label { }
.css_tr_fecha_line { }
.css_tr_fecha_obj {width:155px;}
.css_tr_info_adicional_label { }
.css_tr_info_adicional_line { }
.css_tr_info_adicional_obj {text-align:left;width:320px;}
.css_tr_establecimiento_label { }
.css_tr_establecimiento_line { }
.css_tr_establecimiento_obj {text-align:left;width:160px;}
.css_tr_fecha_recibe_label { }
.css_tr_fecha_recibe_line { }
.css_tr_fecha_recibe_obj { }
.css_productos_label { }
.css_productos_line { }
.css_productos_obj { }
