.css_fac_fecha_label, .css_fac_fecha_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_fecha_grid_line, .css_fac_fecha_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fac_comentario_label, .css_fac_comentario_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_comentario_grid_line, .css_fac_comentario_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_nombre_label, .css_cl_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_nombre_grid_line, .css_cl_nombre_grid_line:hover {vertical-align: middle;text-align: left;}
.css_mes_periodo_label, .css_mes_periodo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mes_periodo_grid_line, .css_mes_periodo_grid_line:hover {vertical-align: middle;text-align: left;}
.css_anio_periodo_label, .css_anio_periodo_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_anio_periodo_grid_line, .css_anio_periodo_grid_line:hover {vertical-align: middle;text-align: right;}
.css_fac_total_label, .css_fac_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_fac_total_grid_line, .css_fac_total_grid_line:hover {vertical-align: middle;text-align: right;}
.css_op_estado_label, .css_op_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_op_estado_grid_line, .css_op_estado_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_identificacion_label, .css_cl_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_identificacion_grid_line, .css_cl_identificacion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_telefono_label, .css_cl_telefono_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_telefono_grid_line, .css_cl_telefono_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_celular_label, .css_cl_celular_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_celular_grid_line, .css_cl_celular_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_email_label, .css_cl_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_email_grid_line, .css_cl_email_grid_line:hover {vertical-align: middle;text-align: left;}
.css_cl_direccion_label, .css_cl_direccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cl_direccion_grid_line, .css_cl_direccion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_op_asiento_label, .css_op_asiento_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_op_asiento_grid_line, .css_op_asiento_grid_line:hover {vertical-align: middle;text-align: left;}
.css_op_asiento_reversa_label, .css_op_asiento_reversa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_op_asiento_reversa_grid_line, .css_op_asiento_reversa_grid_line:hover {vertical-align: middle;text-align: left;}
.css_op_asiento_ingreso_label, .css_op_asiento_ingreso_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_op_asiento_ingreso_grid_line, .css_op_asiento_ingreso_grid_line:hover {vertical-align: middle;text-align: left;}
