.css_iva_codigo__label {text-align:;}
.css_iva_codigo__line {text-align:left;}
.css_iva_codigo__obj {text-align:left;}
.css_iva_descripcion__label { }
.css_iva_descripcion__line { }
.css_iva_descripcion__obj { }
.css_iva_porcentaje__label { }
.css_iva_porcentaje__line {text-align:left;}
.css_iva_porcentaje__obj {text-align:left;}
.css_iva_estado__label { }
.css_iva_estado__line { }
.css_iva_estado__obj { }
