.css_fac_establecimiento_label { }
.css_fac_establecimiento_line {background-color:#66CCFF;text-align:left;}
.css_fac_establecimiento_obj {background-color:#66CCFF;text-align:left;}
.css_fac_punto_emision_label { }
.css_fac_punto_emision_line {background-color:#66CCFF;text-align:left;}
.css_fac_punto_emision_obj {background-color:#66CCFF;text-align:left;}
.css_fac_fecha_label { }
.css_fac_fecha_line { }
.css_fac_fecha_obj { }
.css_fac_ambiente_label { }
.css_fac_ambiente_line {background-color:#66CCFF;text-align:left;}
.css_fac_ambiente_obj {background-color:#66CCFF;text-align:left;}
.css_fac_tipo_libretin_label { }
.css_fac_tipo_libretin_line {background-color:#66CCFF;}
.css_fac_tipo_libretin_obj {background-color:#66CCFF;}
.css_fac_libretin_label { }
.css_fac_libretin_line { }
.css_fac_libretin_obj {width:100px;}
.css_fac_serie_guia_label { }
.css_fac_serie_guia_line { }
.css_fac_serie_guia_obj {width:130px;}
.css_fac_subtotal_iva_label {text-align:left;}
.css_fac_subtotal_iva_line {text-align:right;}
.css_fac_subtotal_iva_obj {text-align:right;width:100px;}
.css_fac_subtotal_cero_label {text-align:left;}
.css_fac_subtotal_cero_line {text-align:right;}
.css_fac_subtotal_cero_obj {text-align:right;width:100px;}
.css_fac_subtotal_no_objeto_label {text-align:left;}
.css_fac_subtotal_no_objeto_line {text-align:right;}
.css_fac_subtotal_no_objeto_obj {text-align:right;width:100px;}
.css_fac_subtotal_excento_label {text-align:left;}
.css_fac_subtotal_excento_line {text-align:right;}
.css_fac_subtotal_excento_obj {text-align:right;width:100px;}
.css_fac_subtotal_label {text-align:left;}
.css_fac_subtotal_line {text-align:right;}
.css_fac_subtotal_obj {text-align:right;width:100px;}
.css_fac_total_descuento_label {text-align:left;}
.css_fac_total_descuento_line {text-align:right;}
.css_fac_total_descuento_obj {text-align:right;width:100px;}
.css_fac_valor_ice_label {text-align:left;}
.css_fac_valor_ice_line {text-align:right;}
.css_fac_valor_ice_obj {text-align:right;width:100px;}
.css_fac_valor_iva_label {text-align:left;}
.css_fac_valor_iva_line {text-align:right;}
.css_fac_valor_iva_obj {text-align:right;width:100px;}
.css_fac_valor_irbpnr_label {text-align:left;}
.css_fac_valor_irbpnr_line {text-align:right;}
.css_fac_valor_irbpnr_obj {text-align:right;width:100px;}
.css_fac_propina_label {text-align:left;}
.css_fac_propina_line {text-align:right;}
.css_fac_propina_obj {text-align:right;width:100px;}
.css_fac_total_label {font-weight:bold;text-align:left;}
.css_fac_total_line {font-weight:bold;text-align:right;}
.css_fac_total_obj {font-weight:bold;text-align:right;width:100px;}
.css_tipo_libretin_label { }
.css_tipo_libretin_line { }
.css_tipo_libretin_obj { }
.css_ambiente_label { }
.css_ambiente_line { }
.css_ambiente_obj { }
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
.css_forma_pago_label { }
.css_forma_pago_line { }
.css_forma_pago_obj { }
.css_titulo_label {font-size:14px;}
.css_titulo_line {font-size:14px;color:#FFFFFF;background-color:#0033FF;font-weight:bold;text-align:center;}
.css_titulo_obj {font-size:14px;color:#FFFFFF;background-color:#0033FF;font-weight:bold;border-width:2px;text-align:center;border-style:solid;}
.css_establecimiento_label { }
.css_establecimiento_line { }
.css_establecimiento_obj { }
.css_punto_emision_label { }
.css_punto_emision_line { }
.css_punto_emision_obj { }
.css_clientes_label { }
.css_clientes_line { }
.css_clientes_obj { }
