.css_irbpnr_codigo__label { }
.css_irbpnr_codigo__line { }
.css_irbpnr_codigo__obj { }
.css_irbpnr_descripcion__label { }
.css_irbpnr_descripcion__line { }
.css_irbpnr_descripcion__obj { }
.css_irbpnr_tarifa_especifica__label { }
.css_irbpnr_tarifa_especifica__line {text-align:left;}
.css_irbpnr_tarifa_especifica__obj {text-align:left;}
.css_irbpnr_tarifa_advaloren__label { }
.css_irbpnr_tarifa_advaloren__line {text-align:left;}
.css_irbpnr_tarifa_advaloren__obj {text-align:left;}
.css_irbpnr_estado__label { }
.css_irbpnr_estado__line { }
.css_irbpnr_estado__obj { }
