.css_as_id__label { }
.css_as_id__line {text-align:left;}
.css_as_id__obj {text-align:left;}
.css_as_submenu__label { }
.css_as_submenu__line {text-align:left;}
.css_as_submenu__obj {text-align:left;}
.css_as_aplicacion__label { }
.css_as_aplicacion__line { }
.css_as_aplicacion__obj { }
