.css_emp_ruc_label, .css_emp_ruc_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_emp_ruc_grid_line, .css_emp_ruc_grid_line:hover {vertical-align: middle;text-align: right;}
.css_emp_razon_social_label, .css_emp_razon_social_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_emp_razon_social_grid_line, .css_emp_razon_social_grid_line:hover {vertical-align: middle;text-align: right;}
.css_emp_nombre_comercial_label, .css_emp_nombre_comercial_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_emp_nombre_comercial_grid_line, .css_emp_nombre_comercial_grid_line:hover {vertical-align: middle;text-align: right;}
.css_emp_direccion_matriz_label, .css_emp_direccion_matriz_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_emp_direccion_matriz_grid_line, .css_emp_direccion_matriz_grid_line:hover {vertical-align: middle;text-align: right;}
.css_emp_email_label, .css_emp_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_emp_email_grid_line, .css_emp_email_grid_line:hover {vertical-align: middle;text-align: right;}
.css_emp_estado_label, .css_emp_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_emp_estado_grid_line, .css_emp_estado_grid_line:hover {vertical-align: middle;text-align: right;}
