.css_cgv_id__label { }
.css_cgv_id__line {text-align:left;}
.css_cgv_id__obj {text-align:left;}
.css_cgv_descripcion__label { }
.css_cgv_descripcion__line { }
.css_cgv_descripcion__obj { }
.css_cgv_estado__label { }
.css_cgv_estado__line { }
.css_cgv_estado__obj { }
.css_cgv_impuesto__label { }
.css_cgv_impuesto__line {text-align:left;}
.css_cgv_impuesto__obj {text-align:left;}
