.css_te_id__label { }
.css_te_id__line {text-align:left;}
.css_te_id__obj {text-align:left;}
.css_te_tipo_emision__label { }
.css_te_tipo_emision__line { }
.css_te_tipo_emision__obj { }
.css_te_codigo__label {text-align:;}
.css_te_codigo__line {text-align:left;}
.css_te_codigo__obj {text-align:left;}
