.css_ot_comentario__label { }
.css_ot_comentario__line { }
.css_ot_comentario__obj { }
.css_ot_estado__label { }
.css_ot_estado__line { }
.css_ot_estado__obj { }
.css_ot_id__label { }
.css_ot_id__line { }
.css_ot_id__obj { }
.css_ot_operacion__label {text-align:;}
.css_ot_operacion__line {text-align:left;}
.css_ot_operacion__obj {text-align:left;}
.css_ot_referencia__label { }
.css_ot_referencia__line { }
.css_ot_referencia__obj { }
.css_ot_saldo__label { }
.css_ot_saldo__line {text-align:right;}
.css_ot_saldo__obj {text-align:right;}
.css_ot_solicitud__label {text-align:;}
.css_ot_solicitud__line {text-align:left;}
.css_ot_solicitud__obj {text-align:left;}
.css_ot_tipo_cartera__label { }
.css_ot_tipo_cartera__line { }
.css_ot_tipo_cartera__obj { }
