.css_nc_libretin_label { }
.css_nc_libretin_line {text-align:left;}
.css_nc_libretin_obj {text-align:left;}
.css_nc_tipo_libretin_label { }
.css_nc_tipo_libretin_line { }
.css_nc_tipo_libretin_obj { }
.css_nc_establecimiento_label { }
.css_nc_establecimiento_line {text-align:left;}
.css_nc_establecimiento_obj {text-align:left;}
.css_nc_punto_emision_label { }
.css_nc_punto_emision_line {text-align:left;}
.css_nc_punto_emision_obj {text-align:left;}
.css_nc_secuencial_label { }
.css_nc_secuencial_line {text-align:left;}
.css_nc_secuencial_obj {text-align:left;}
.css_nc_ambiente_label { }
.css_nc_ambiente_line {text-align:left;}
.css_nc_ambiente_obj {text-align:left;}
.css_nc_fecha_label { }
.css_nc_fecha_line { }
.css_nc_fecha_obj { }
.css_nc_iddocmod_label { }
.css_nc_iddocmod_line {text-align:left;}
.css_nc_iddocmod_obj {text-align:left;}
.css_nc_cliente_label { }
.css_nc_cliente_line {text-align:left;}
.css_nc_cliente_obj {text-align:left;}
.css_nc_cod_docmod_label { }
.css_nc_cod_docmod_line { }
.css_nc_cod_docmod_obj { }
.css_nc_serie_docmod_label { }
.css_nc_serie_docmod_line { }
.css_nc_serie_docmod_obj { }
.css_nc_secuencial_docmod_label { }
.css_nc_secuencial_docmod_line {text-align:left;}
.css_nc_secuencial_docmod_obj {text-align:left;}
.css_nc_fecha_emison_docmod_label { }
.css_nc_fecha_emison_docmod_line { }
.css_nc_fecha_emison_docmod_obj { }
.css_nc_motivo_label { }
.css_nc_motivo_line { }
.css_nc_motivo_obj {width:320px;}
.css_nc_subtotal_iva_label {text-align:left;}
.css_nc_subtotal_iva_line {text-align:left;}
.css_nc_subtotal_iva_obj {text-align:left;width:100px;}
.css_nc_subtotal_cero_label {text-align:left;}
.css_nc_subtotal_cero_line {text-align:left;}
.css_nc_subtotal_cero_obj {text-align:left;width:100px;}
.css_nc_subtotal_no_objeto_label {text-align:left;}
.css_nc_subtotal_no_objeto_line {text-align:left;}
.css_nc_subtotal_no_objeto_obj {text-align:left;width:100px;}
.css_nc_subtotal_excento_label {text-align:left;}
.css_nc_subtotal_excento_line {text-align:left;}
.css_nc_subtotal_excento_obj {text-align:left;width:100px;}
.css_nc_subtotal_label {text-align:left;}
.css_nc_subtotal_line {text-align:left;}
.css_nc_subtotal_obj {text-align:left;width:100px;}
.css_nc_total_descuento_label {text-align:left;}
.css_nc_total_descuento_line {text-align:left;}
.css_nc_total_descuento_obj {text-align:left;width:100px;}
.css_nc_valor_ice_label {text-align:left;}
.css_nc_valor_ice_line {text-align:left;}
.css_nc_valor_ice_obj {text-align:left;width:100px;}
.css_nc_valor_iva_label {text-align:left;}
.css_nc_valor_iva_line {text-align:left;}
.css_nc_valor_iva_obj {text-align:left;width:100px;}
.css_nc_valor_irbpnr_label {text-align:left;}
.css_nc_valor_irbpnr_line {text-align:left;}
.css_nc_valor_irbpnr_obj {text-align:left;width:100px;}
.css_nc_total_label {text-align:left;}
.css_nc_total_line {text-align:left;}
.css_nc_total_obj {text-align:left;width:100px;}
.css_nc_error_sri_label { }
.css_nc_error_sri_line { }
.css_nc_error_sri_obj { }
.css_detalles_label { }
.css_detalles_line { }
.css_detalles_obj { }
.css_fac_email_cliente_label { }
.css_fac_email_cliente_line { }
.css_fac_email_cliente_obj {width:320px;}
.css_secuencial_label { }
.css_secuencial_line { }
.css_secuencial_obj { }
.css_tipo_libretin_label { }
.css_tipo_libretin_line { }
.css_tipo_libretin_obj { }
.css_fac_direccion_cliente_label { }
.css_fac_direccion_cliente_line { }
.css_fac_direccion_cliente_obj {width:320px;}
.css_titulo_label {font-size:14px;}
.css_titulo_line {font-size:14px;color:#FFFFFF;background-color:#0033FF;font-weight:bold;text-align:left;}
.css_titulo_obj {font-size:14px;color:#FFFFFF;background-color:#0033FF;font-weight:bold;border-width:2px;text-align:left;border-style:solid;}
.css_serie_sustento_label { }
.css_serie_sustento_line { }
.css_serie_sustento_obj { }
.css_fecha_sustento_label { }
.css_fecha_sustento_line { }
.css_fecha_sustento_obj { }
.css_forma_pago_label { }
.css_forma_pago_line { }
.css_forma_pago_obj { }
.css_tipo_doc_sustento_label { }
.css_tipo_doc_sustento_line { }
.css_tipo_doc_sustento_obj { }
.css_ambiente_label { }
.css_ambiente_line { }
.css_ambiente_obj { }
.css_secuencial_sustento_label { }
.css_secuencial_sustento_line { }
.css_secuencial_sustento_obj { }
.css_fac_nombre_cliente_label { }
.css_fac_nombre_cliente_line { }
.css_fac_nombre_cliente_obj {width:320px;}
.css_fac_ruc_cliente_label { }
.css_fac_ruc_cliente_line { }
.css_fac_ruc_cliente_obj {width:160px;}
