.css_dnc_id__label { }
.css_dnc_id__line {text-align:left;}
.css_dnc_id__obj {text-align:left;}
.css_dnc_factura__label { }
.css_dnc_factura__line {text-align:left;}
.css_dnc_factura__obj {text-align:left;}
.css_dnc_empresa__label { }
.css_dnc_empresa__line { }
.css_dnc_empresa__obj { }
.css_dnc_producto__label { }
.css_dnc_producto__line { }
.css_dnc_producto__obj { }
.css_dnc_descripcion__label { }
.css_dnc_descripcion__line { }
.css_dnc_descripcion__obj { }
.css_dnc_cantidad_facturada__label { }
.css_dnc_cantidad_facturada__line {text-align:left;}
.css_dnc_cantidad_facturada__obj {text-align:left;}
.css_dnc_cantidad__label { }
.css_dnc_cantidad__line {text-align:left;}
.css_dnc_cantidad__obj {text-align:left;}
.css_dnc_precio_unitario__label { }
.css_dnc_precio_unitario__line {text-align:left;}
.css_dnc_precio_unitario__obj {text-align:left;}
.css_dnc_subtotal__label { }
.css_dnc_subtotal__line {text-align:left;}
.css_dnc_subtotal__obj {text-align:left;}
.css_dnc_descuento__label { }
.css_dnc_descuento__line {text-align:left;}
.css_dnc_descuento__obj {text-align:left;}
.css_dnc_base_iva__label { }
.css_dnc_base_iva__line {text-align:left;}
.css_dnc_base_iva__obj {text-align:left;}
.css_dnc_porcentaje_iva__label { }
.css_dnc_porcentaje_iva__line {text-align:left;}
.css_dnc_porcentaje_iva__obj {text-align:left;}
.css_dnc_valor_iva__label { }
.css_dnc_valor_iva__line {text-align:left;}
.css_dnc_valor_iva__obj {text-align:left;}
.css_dnc_base_ice__label { }
.css_dnc_base_ice__line {text-align:left;}
.css_dnc_base_ice__obj {text-align:left;}
.css_dnc_porcentaje_ice__label { }
.css_dnc_porcentaje_ice__line { }
.css_dnc_porcentaje_ice__obj { }
.css_dnc_valor_ice__label { }
.css_dnc_valor_ice__line {text-align:left;}
.css_dnc_valor_ice__obj {text-align:left;}
.css_dnc_base_irbpnr__label { }
.css_dnc_base_irbpnr__line {text-align:left;}
.css_dnc_base_irbpnr__obj {text-align:left;}
.css_dnc_porcentaje_irbpnr__label { }
.css_dnc_porcentaje_irbpnr__line { }
.css_dnc_porcentaje_irbpnr__obj { }
.css_dnc_valor_irbpnr__label { }
.css_dnc_valor_irbpnr__line {text-align:left;}
.css_dnc_valor_irbpnr__obj {text-align:left;}
.css_dnc_total__label { }
.css_dnc_total__line {text-align:left;}
.css_dnc_total__obj {text-align:left;}
.css_dnc_estado__label { }
.css_dnc_estado__line { }
.css_dnc_estado__obj { }
.css_dnc_nota_credito__label { }
.css_dnc_nota_credito__line {text-align:left;}
.css_dnc_nota_credito__obj {text-align:left;}
