.css_inv_bodega__label { }
.css_inv_bodega__line {text-align:left;}
.css_inv_bodega__obj {text-align:left;}
.css_inv_cantidad__label { }
.css_inv_cantidad__line {text-align:left;}
.css_inv_cantidad__obj {text-align:left;}
.css_inv_costo_promedio__label { }
.css_inv_costo_promedio__line {text-align:left;}
.css_inv_costo_promedio__obj {text-align:left;}
.css_inv_empresa__label { }
.css_inv_empresa__line { }
.css_inv_empresa__obj { }
.css_inv_producto__label { }
.css_inv_producto__line {text-align:left;}
.css_inv_producto__obj {text-align:left;}
.css_inv_punto_reposicion__label { }
.css_inv_punto_reposicion__line {text-align:left;}
.css_inv_punto_reposicion__obj {text-align:left;}
.css_inv_stock_maximo__label { }
.css_inv_stock_maximo__line {text-align:left;}
.css_inv_stock_maximo__obj {text-align:left;}
.css_inv_stock_minimo__label { }
.css_inv_stock_minimo__line {text-align:left;}
.css_inv_stock_minimo__obj {text-align:left;}
.css_inv_total_inventario__label { }
.css_inv_total_inventario__line {text-align:left;}
.css_inv_total_inventario__obj {text-align:left;}
.css_inv_unidad__label { }
.css_inv_unidad__line { }
.css_inv_unidad__obj { }
.css_inv_id__label { }
.css_inv_id__line {text-align:left;}
.css_inv_id__obj {text-align:left;}
.css_inv_estado__label { }
.css_inv_estado__line { }
.css_inv_estado__obj { }
