.css_pro_codigo__label { }
.css_pro_codigo__line { }
.css_pro_codigo__obj {width:50px;}
.css_pro_empresa__label { }
.css_pro_empresa__line { }
.css_pro_empresa__obj { }
.css_pro_descripcion__label { }
.css_pro_descripcion__line { }
.css_pro_descripcion__obj {width:200px;}
.css_pro_iva__label { }
.css_pro_iva__line { }
.css_pro_iva__obj {width:120px;}
.css_pro_por_iva__label { }
.css_pro_por_iva__line {text-align:left;}
.css_pro_por_iva__obj {text-align:left;width:120px;}
.css_pro_ice__label { }
.css_pro_ice__line { }
.css_pro_ice__obj { }
.css_pro_por_ice__label { }
.css_pro_por_ice__line {text-align:left;}
.css_pro_por_ice__obj {text-align:left;width:250px;}
.css_pro_precio__label {text-align:right;}
.css_pro_precio__line {text-align:right;}
.css_pro_precio__obj {text-align:right;width:70px;}
.css_pro_estado__label { }
.css_pro_estado__line { }
.css_pro_estado__obj { }
