.css_cl_nombre_fil_obj, .css_cl_nombre_fil_obj:hover {width:200px;}
.css_cl_identificacion_fil_obj, .css_cl_identificacion_fil_obj:hover {width:200px;}
.css_con_numero_contrato_fil_obj, .css_con_numero_contrato_fil_obj:hover {width:200px;}
.css_con_numero_medidor_fil_obj, .css_con_numero_medidor_fil_obj:hover {width:200px;}
.css_con_numero_censo_fil_obj, .css_con_numero_censo_fil_obj:hover {width:200px;}
