.css_to_id__label { }
.css_to_id__line {text-align:left;}
.css_to_id__obj {text-align:left;}
.css_to_toma_administrativa__label { }
.css_to_toma_administrativa__line {text-align:left;}
.css_to_toma_administrativa__obj {text-align:left;}
.css_to_descripcion__label { }
.css_to_descripcion__line { }
.css_to_descripcion__obj { }
.css_to_estado__label { }
.css_to_estado__line { }
.css_to_estado__obj { }
.css_to_empresa__label { }
.css_to_empresa__line { }
.css_to_empresa__obj { }
