.css_irs_id__label { }
.css_irs_id__line {text-align:left;}
.css_irs_id__obj {text-align:left;}
.css_irs_sustento__label { }
.css_irs_sustento__line {text-align:left;}
.css_irs_sustento__obj {text-align:left;}
.css_irs_impuesto__label { }
.css_irs_impuesto__line {text-align:left;}
.css_irs_impuesto__obj {text-align:left;}
.css_irs_base_imponible__label { }
.css_irs_base_imponible__line {text-align:left;}
.css_irs_base_imponible__obj {text-align:left;}
.css_irs_codigo_retencion__label { }
.css_irs_codigo_retencion__line {text-align:left;}
.css_irs_codigo_retencion__obj {text-align:left;width:300px;}
.css_irs_porcentaje_retencion__label { }
.css_irs_porcentaje_retencion__line {text-align:left;}
.css_irs_porcentaje_retencion__obj {text-align:left;}
.css_irs_valor_retenido__label { }
.css_irs_valor_retenido__line {text-align:left;}
.css_irs_valor_retenido__obj {text-align:left;}
