.css_sad_id_label { }
.css_sad_id_line {text-align:left;}
.css_sad_id_obj {text-align:left;}
.css_sad_propietario_label { }
.css_sad_propietario_line {text-align:left;}
.css_sad_propietario_obj {text-align:left;}
.css_sad_estado_label { }
.css_sad_estado_line { }
.css_sad_estado_obj { }
.css_sad_fecha_label { }
.css_sad_fecha_line { }
.css_sad_fecha_obj { }
.css_sad_motivo_anulacion_label { }
.css_sad_motivo_anulacion_line { }
.css_sad_motivo_anulacion_obj { }
.css_operaciones_label { }
.css_operaciones_line { }
.css_operaciones_obj { }
