.css_cl_cantidad__label { }
.css_cl_cantidad__line {text-align:left;}
.css_cl_cantidad__obj {text-align:left;width:80px;}
.css_cl_compra_promocion__label { }
.css_cl_compra_promocion__line {text-align:left;}
.css_cl_compra_promocion__obj {text-align:left;}
.css_cl_empresa__label { }
.css_cl_empresa__line { }
.css_cl_empresa__obj { }
.css_cl_estado__label { }
.css_cl_estado__line { }
.css_cl_estado__obj { }
.css_cl_ice__label { }
.css_cl_ice__line {text-align:left;}
.css_cl_ice__obj {text-align:left;}
.css_cl_id__label { }
.css_cl_id__line {text-align:left;}
.css_cl_id__obj {text-align:left;}
.css_cl_id_pago__label { }
.css_cl_id_pago__line {text-align:left;}
.css_cl_id_pago__obj {text-align:left;}
.css_cl_iva__label { }
.css_cl_iva__line {text-align:left;}
.css_cl_iva__obj {text-align:left;}
.css_cl_producto__label { }
.css_cl_producto__line { }
.css_cl_producto__obj {width:200px;}
.css_cl_punto_emision__label { }
.css_cl_punto_emision__line {text-align:left;}
.css_cl_punto_emision__obj {text-align:left;}
.css_cl_tipo_comprobante__label { }
.css_cl_tipo_comprobante__line { }
.css_cl_tipo_comprobante__obj { }
.css_cl_total__label { }
.css_cl_total__line {text-align:left;}
.css_cl_total__obj {text-align:left;}
.css_cl_usuario__label { }
.css_cl_usuario__line { }
.css_cl_usuario__obj { }
.css_cl_valor__label { }
.css_cl_valor__line {text-align:left;}
.css_cl_valor__obj {text-align:left;width:80px;}
.css_cl_fecha__label { }
.css_cl_fecha__line { }
.css_cl_fecha__obj { }
