.css_fc_fecha_label, .css_fc_fecha_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fc_fecha_grid_line, .css_fc_fecha_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fc_serie_label, .css_fc_serie_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fc_serie_grid_line, .css_fc_serie_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fac_secuencial_label, .css_fac_secuencial_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fac_secuencial_grid_line, .css_fac_secuencial_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pr_nombre_label, .css_pr_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pr_nombre_grid_line, .css_pr_nombre_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pr_identificacion_label, .css_pr_identificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pr_identificacion_grid_line, .css_pr_identificacion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fc_total_label, .css_fc_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_fc_total_grid_line, .css_fc_total_grid_line:hover {vertical-align: middle;text-align: right;}
.css_fp_descripcion_label, .css_fp_descripcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fp_descripcion_grid_line, .css_fp_descripcion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fp_valor_label, .css_fp_valor_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_fp_valor_grid_line, .css_fp_valor_grid_line:hover {vertical-align: middle;text-align: right;}
.css_fp_valor_tot_ger, .css_fp_valor_tot_ger:hover {text-align: ;text-align: right;}
.css_fc_comentario_label, .css_fc_comentario_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fc_comentario_grid_line, .css_fc_comentario_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pr_direccion_label, .css_pr_direccion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pr_direccion_grid_line, .css_pr_direccion_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pr_email_label, .css_pr_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pr_email_grid_line, .css_pr_email_grid_line:hover {vertical-align: middle;text-align: left;}
.css_pr_telefono_label, .css_pr_telefono_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pr_telefono_grid_line, .css_pr_telefono_grid_line:hover {vertical-align: middle;text-align: left;}
.css_fp_valor_S_sub_tot, .css_fp_valor_S_sub_tot:hover {text-align: left;text-align: right;}
.css_fp_valor_S_tot_ger, .css_fp_valor_S_tot_ger:hover {text-align: right;}
