.css_rut_id__label { }
.css_rut_id__line {text-align:left;}
.css_rut_id__obj {text-align:left;}
.css_rut_empresa__label { }
.css_rut_empresa__line { }
.css_rut_empresa__obj { }
.css_rut_nombre__label { }
.css_rut_nombre__line { }
.css_rut_nombre__obj { }
.css_rut_estado__label { }
.css_rut_estado__line { }
.css_rut_estado__obj { }
.css_rut_codigo__label { }
.css_rut_codigo__line { }
.css_rut_codigo__obj { }
.css_rut_secuencial__label { }
.css_rut_secuencial__line {text-align:left;}
.css_rut_secuencial__obj {text-align:left;}
