.css_mc_id__label { }
.css_mc_id__line {text-align:left;}
.css_mc_id__obj {text-align:left;}
.css_mc_contrato__label { }
.css_mc_contrato__line {text-align:left;}
.css_mc_contrato__obj {text-align:left;}
.css_mc_bodega__label { }
.css_mc_bodega__line { }
.css_mc_bodega__obj { }
.css_mc_producto__label { }
.css_mc_producto__line { }
.css_mc_producto__obj { }
.css_mc_unidad__label { }
.css_mc_unidad__line { }
.css_mc_unidad__obj { }
.css_mc_cantidad__label { }
.css_mc_cantidad__line {text-align:left;}
.css_mc_cantidad__obj {text-align:left;}
.css_mc_precio_unitario__label { }
.css_mc_precio_unitario__line {text-align:left;}
.css_mc_precio_unitario__obj {text-align:left;}
.css_mc_subtotal__label { }
.css_mc_subtotal__line {text-align:left;}
.css_mc_subtotal__obj {text-align:left;}
.css_mc_por_iva__label { }
.css_mc_por_iva__line {text-align:left;}
.css_mc_por_iva__obj {text-align:left;}
.css_mc_iva__label { }
.css_mc_iva__line {text-align:left;}
.css_mc_iva__obj {text-align:left;}
.css_mc_total__label { }
.css_mc_total__line {text-align:left;}
.css_mc_total__obj {text-align:left;}
.css_mc_producto_aplica__label { }
.css_mc_producto_aplica__line { }
.css_mc_producto_aplica__obj { }
.css_mc_empresa__label { }
.css_mc_empresa__line { }
.css_mc_empresa__obj { }
.css_precio_inventario__label {text-align:right;}
.css_precio_inventario__line {text-align:right;}
.css_precio_inventario__obj {text-align:right;}
.css_unidad_inventario__label {text-align:right;}
.css_unidad_inventario__line {text-align:right;}
.css_unidad_inventario__obj {text-align:right;}
