.css_dec_catalogo__label { }
.css_dec_catalogo__line {text-align:left;}
.css_dec_catalogo__obj {text-align:left;}
.css_dec_id__label { }
.css_dec_id__line { }
.css_dec_id__obj { }
.css_dec_nombre__label { }
.css_dec_nombre__line { }
.css_dec_nombre__obj { }
.css_dec_estado__label { }
.css_dec_estado__line { }
.css_dec_estado__obj { }
.css_dec_secuencial__label { }
.css_dec_secuencial__line {text-align:left;}
.css_dec_secuencial__obj {text-align:left;}
