.css_dtf_id__label { }
.css_dtf_id__line {text-align:left;}
.css_dtf_id__obj {text-align:left;}
.css_dtf_tipo_firma__label { }
.css_dtf_tipo_firma__line {text-align:left;}
.css_dtf_tipo_firma__obj {text-align:left;}
.css_dtf_descripcion__label { }
.css_dtf_descripcion__line { }
.css_dtf_descripcion__obj { }
.css_dtf_requerido__label { }
.css_dtf_requerido__line { }
.css_dtf_requerido__obj { }
.css_dtf_estado__label { }
.css_dtf_estado__line { }
.css_dtf_estado__obj { }
