.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_des_consumo_sum_label, .css_des_consumo_sum_label:hover {text-align: right; vertical-align: top}
.css_des_consumo_sum_field, .css_des_consumo_sum_field:hover {text-align: right; vertical-align: top}
.css_des_consumo_base_sum_label, .css_des_consumo_base_sum_label:hover {text-align: right; vertical-align: top}
.css_des_consumo_base_sum_field, .css_des_consumo_base_sum_field:hover {text-align: right; vertical-align: top}
.css_des_consumo_excedente_sum_label, .css_des_consumo_excedente_sum_label:hover {text-align: right; vertical-align: top}
.css_des_consumo_excedente_sum_field, .css_des_consumo_excedente_sum_field:hover {text-align: right; vertical-align: top}
.css_des_total_sum_label, .css_des_total_sum_label:hover {text-align: right; vertical-align: top}
.css_des_total_sum_field, .css_des_total_sum_field:hover {text-align: right; vertical-align: top}
