.css_login_label { }
.css_login_line { }
.css_login_obj {width:220px;}
.css_mensaje_label { }
.css_mensaje_line { }
.css_mensaje_obj { }
.css_ruc_empresa_label { }
.css_ruc_empresa_line { }
.css_ruc_empresa_obj {width:200px;}
.css_correo_label { }
.css_correo_line { }
.css_correo_obj {width:200px;}
